

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll !important;
  background: url(../images/checker-bk.png);
}

body, input {
  font-family: 'Lato', sans-serif;
  font-size: calc(0.8em + 0.4vmin);
}

a {
  text-decoration: none;
}

header,
#global_nav {
  height: 3.75em;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,0.15);
}

main {
  position: relative;
  width: 90%;
  min-width: 280px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  position: absolute;
  top: 7em;
  width: 100%;
  min-height: 600px;
  max-height: 90vh;
  padding-bottom: 4em;
  opacity: 0;
  z-index: 0;
  overflow: visible;
  transition: opacity 0.5s ease;
}

hr {
  width: 5em;
  height: 1em;
  margin: 3em auto;
  border: none;
  background: -webkit-linear-gradient(to right, rgba(48,52,60,0.15), rgba(48,52,60,0.15) 1em,
  transparent 1em, transparent 2em,
  rgba(48,52,60,0.15) 2em, rgba(48,52,60,0.15) 3em,
  transparent 3em, transparent 4em,
  rgba(48,52,60,0.15) 4em, rgba(48,52,60,0.15) 5em);
  background: linear-gradient(to right, rgba(48,52,60,0.15), rgba(48,52,60,0.15) 1em,
  transparent 1em, transparent 2em,
  rgba(48,52,60,0.15) 2em, rgba(48,52,60,0.15) 3em,
  transparent 3em, transparent 4em,
  rgba(48,52,60,0.15) 4em, rgba(48,52,60,0.15) 5em);
}

h2 {
  font-size: 1.6em;
  text-align: center;
}

h3 {
  display: table;
  margin: 3em auto 2.5em;
  padding: 0.4em 0.7em 0.5em;
  border: 0.125em solid #496fa1;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 120%;
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 0.125em solid #19346e;
}

ul:not([bulleted]),
menu:not([bulleted]) {
    padding: 0;
    list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  font-size: 0.85em;
  margin: 0.8em 0.4em 1.6em;
}

[shadow-box] {
  border: 1px solid;
  background: #fff;
  border-color: #eee #dfdfdf #d3d3d3;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.1);
}

[font~="green"], dt {
  color: #26905c;
}

[font~="blue"], h4 {
  color: #0161a6;
}

.logo-grid {
    text-align: center;
}

.logo-grid > * {
    max-width: 9em;
    max-height: 3.5em;
    margin: 0 1.75em 1.75em;
    display: inline-block;
    vertical-align: middle;
}

#svg_source {
  display: none;
}

#global_nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  z-index: 3;
  color: #19346e;
  cursor: default;
}

#global_nav input,
#global_nav div {
  display: none;
  margin: 0;
  padding: 0;
  line-height: 3.75em;
  text-align: center;
}

#global_nav img,
#global_nav svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  pointer-events: none;
  vertical-align: text-top;
}

#global_nav input {
  opacity: 0;
  font-size: 1em;
  cursor: pointer;
}

#global_nav a,
#global_nav a:visited {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  padding: 0 0.85em;
  color: #19346e;
  line-height: 4em;
  text-decoration: none;
}

#global_nav a:hover,
#global_nav input:hover + div {
  background: #fafafa;
}

h1 {
  margin: 0.15em 0 0 0.4em;
  color: #777;
  font-size: 0.85em;
  line-height: 1em;
  font-weight: normal;
}

h1 div::first-letter {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #19346e;
}

#header_logo {
  display: block;
  margin: 0 0 0 0.65em;
  padding: 0;
  height: 2em;
  background: #fff;
}

body[path="/"] #home_section,
body:not([path]) #home_section,
body[path="/wg"] #wg_section,
body[path="/code"] #code_section,
body[path="/membership"] #membership_section {
  max-height: none;
  z-index: 1;
  opacity: 1;
}

body[path="/"] #global_nav a[href="/"],
body:not([path]) #global_nav a[href="/"],
body[path="/wg"] #global_nav a[href="/wg"],
body[path="/membership"] #global_nav a[href="/membership"] {
  border-bottom: 0.2em solid #0161a6;
}

/* Home Section */

#home_descriptors {
  text-align: center;
  color: #888;
}

#home_descriptors li:nth-child(odd) {
  margin: 0.5em auto;
  font-size: 130%;
  font-weight: bold;
}

/* WG Section */

#wg_list {
  max-width: 650px;
  margin: 0 auto;
}

#wg_list > li {
  position: relative;
  margin: 2em 0 0; 
}

#wg_list > li > div {
  position: relative;
  padding: 0 1em;
  overflow: hidden;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.2);
}

#wg_list .wg-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.2em;
}

#wg_list h4 * {
  vertical-align: middle;
}

#wg_list dl {
  margin: 0;
  padding: 1.25em 1em 1em;
  background: #f1f1f1;
}

#wg_list dt {
  padding: 0.15em 0.3em;
  background: #fff;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
}

#wg_list dd li {
  margin: 0.25em 0;  
}

/* Media Queries */

@media all and (max-width: 650px) {

  section {
    top: 6em;
  }

  #global_nav {
    display: block;
    padding: 0;
  }

  #global_nav input,
  #global_nav div {
    display: block;
    position: relative;
    width: 3.75em;
    height: 3.75em;

  }

  #global_nav input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  #global_nav div {
    float: right;
    margin-bottom: 1px;
  }

  #global_nav a {
    display: block;
    box-sizing: content-box;
    height: 2em;
    margin: 0;
    padding: 0.4em 0.9em;
    opacity: 0;
    clear: both;
    line-height: 2em;
    background: #fff;
    border-bottom: 1px solid #d7dfe9 !important;
    box-shadow: 0 1px 5px -1px rgba(0,0,0,0.2);
    transform: translateX(100%);
    transition: opacity 0.3s ease;
  }

  #global_nav input:checked ~ a {
    transform: translateX(0);
    opacity: 1;
  }

  #global_nav input:checked + div {
    background-color: #fafafa;
  }

  body[path="/"] #global_nav a[href="/"], body:not([path]) #global_nav a[href="/"],
  body[path="/wg"] #global_nav a[href="/wg"],
  body[path="/membership"] #global_nav a[href="/membership"] {
    border-bottom: none;
    border-left: 0.2em solid #19346e;
  }

  .logo-grid > * {
    max-width: 30%;
  }
}