

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll !important;
  background: url(../images/checker-bk.png);
}

body, input {
  font-family: Arial, sans-serif;
  font-size: calc(0.8em + 0.4vmin);
}

header, #global_nav {
  height: 3.75em;
  padding: 0 0.35em 0;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,0.15);
}

main {
  position: relative;
  width: 90%;
  min-width: 280px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  position: absolute;
  top: 8em;
  width: 100%;
  min-height: 600px;
  max-height: 600px;
  opacity: 0;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  transition: opacity 0.75s ease;
}

[shadow-box] {
  border: 1px solid;
  border-color: #eee #dfdfdf #d3d3d3;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.1);
}

#svg_source {
  display: none;
}

#global_nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  color: #19346e;
  cursor: default;
}

#global_nav input,
#global_nav div {
  display: none;
  margin: 0;
  padding: 0;
  line-height: 3.75em;
  text-align: center;
}

#global_nav img, #global_nav svg {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  display: inline-block;
  vertical-align: text-top;
}

#global_nav input {
  opacity: 0;
  cursor: pointer;
}

#global_nav a {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  padding: 0 0.85em;
  line-height: 4em;
  text-decoration: none;
}

#global_nav a:visited {
  color: #19346e;
}

#global_nav a:hover,
#global_nav input:hover + div {
  background: #fafafa;
}

[font="mono"], h1, h2, h3, h4, h5, h6, #global_nav input {
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  margin: 0.1em 0 0 0.4em;
  color: #777;
  font-size: 0.85em;
  line-height: 0.95em;
  font-weight: normal;
}

h1 div::first-letter {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #19346e;
}

#header_logo {
  display: block;
  margin: 0;
  padding: 0;
  width: 3em;
  height: 3em;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 4px -1px rgba(0,0,0,0.6);
}

body[path="/"] #home_section, body:not([path]) #home_section,
body[path="/wg"] #wg_section,
body[path="/code"] #code_section,
body[path="/membership"] #membership_section {
  z-index: 1;
  opacity: 1;
  max-height: none;
}

body[path="/"] #global_nav a[href="/"], body:not([path]) #global_nav a[href="/"],
body[path="/wg"] #global_nav a[href="/wg"],
body[path="/membership"] #global_nav a[href="/membership"] {
  border-bottom: 0.25em solid #19346e;
}


/* Media Queries */

@media all and (max-width: 625px) {

  #global_nav {
    display: block;
    margin: 0;
    padding: 0;
  }

  #global_nav input,
  #global_nav div {
    display: block;
    position: relative;
    width: 3.75em;
    height: 3.75em;

  }

  #global_nav input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  #global_nav div {
    float: right;
    margin-bottom: 1px;
  }

  #global_nav a {
    display: block;
    box-sizing: content-box;
    height: 2em;
    margin: 0;
    padding: 0.4em 0.9em;
    opacity: 0;
    clear: both;
    line-height: 2em;
    background: #fff;
    border-bottom: 1px solid #d7dfe9 !important;
    box-shadow: 0 1px 5px -1px rgba(0,0,0,0.2);
    transform: translateX(100%);
    transition: opacity 0.3s ease;
  }

  #global_nav input:checked ~ a {
    transform: translateX(0);
    opacity: 1;
  }

  #global_nav input:checked + div {
    background-color: #fafafa;
  }

  body[path="/"] #global_nav a[href="/"], body:not([path]) #global_nav a[href="/"],
  body[path="/wg"] #global_nav a[href="/wg"],
  body[path="/membership"] #global_nav a[href="/membership"] {
    border-bottom: none;
    border-left: 0.25em solid #19346e;
  }
}