{% extends "group_base.html.njk" %}
{% set wg_id = "agents" %}
{% set name = workingGroups.activeWorkingGroups["agents"].name %}
{% set logo = workingGroups.activeWorkingGroups["agents"].logo %}
{% set title = workingGroups.activeWorkingGroups["agents"].title %}
{% set scope = workingGroups.activeWorkingGroups["agents"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["agents"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["agents"].charters %}
{% set projects = workingGroups.activeWorkingGroups["agents"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["agents"].chairs %}
{% set type = workingGroups.activeWorkingGroups["agents"].type %}
{% set meetingSchedule = workingGroups.activeWorkingGroups["agents"].meetingSchedule %}
{% set repoTag = workingGroups.activeWorkingGroups["agents"].repoTag %}
{% set discussionChannels = workingGroups.activeWorkingGroups["agents"].discussionChannels %}