{% set name = "Authentication" %}
{% set logo = "login_screen" %}
{% set title = "Authentication Working Group" %}
{% set scope = "Since December 2020, this work is hosted by the Open Identity Foundation. This group to contribute to standards and technology that designs and implements authentication protocols that rely upon open standards and cryptographic protocols, including DIDs and DID Documents. This group develops specifications, protocols, and formats for data structures used for authentication." %}
{% set shortform = "DID Auth WG" %}
{% set repoTag = "wg-auth" %}
{% set charters = {
  "DIDAuth WG documentation": {
    links: [
      {
        text: "WG Charter",
        href: "https://github.com/decentralized-identity/org/blob/master/Org%20documents/WG%20documents/DIF_DIDAuth_WG_charter_v1.pdf"
      },
      {
        text: "Mailing list",
        href: "https://lists.identity.foundation/g/didauth-wg"
      },
      {
        text: "Slack channel (members only)",
        href: "https://difdn.slack.com/archives/C7TFEG9B6"
      },
      {
        text: "WG participants",
        href: "https://github.com/decentralized-identity?q=wg-auth&type=&language=&sort="
      },
      {
        text: "WG GitHub Repos",
        href: "https://github.com/decentralized-identity?q=wg-id&type=&language="
      },
      {
        text: "WG Meeting Recordings",
        href: "https://docs.google.com/spreadsheets/d/1wgccmMvIImx30qVE9GhRKWWv3vmL2ZyUauuKx3IfRmA/edit#gid=1343983492"
      }
    ]
  }
}
%}
{% set projects = {
    "DID Authentication Profile for SIOP": {
      desc: "This specification defines the SIOP DID AuthN flavor to use OpenID Connect (OIDC) together with the strong decentralization, privacy and security guarantees of DID for everyone who wants to have a generic way to integrate SSI wallets into their web applications.",
      links: [
        {
          text: "OIDF - SIOP v2 (draft)",
          href: "https://openid.net/specs/openid-connect-self-issued-v2-1_0.html"
        },  
        {
          text: "OIDF - SIOP v2 (most recent editor's draft )",
          href: "https://openid.bitbucket.io/connect/openid-connect-self-issued-v2-1_0.html"
        },  
        {
          text: "Explainer - outdated. New work carried out under OIDF",
          href: "https://github.com/decentralized-identity/papers/blob/master/did-authn/siop/did-authn-siop-profile.md"
        },
        {
          text: "Repo - outdated. New work carried out under OIDF",
          href: "https://github.com/decentralized-identity/did-siop"
        }
      ]
    },
    "DIDComm JS Lib": {
      desc: "A shared effort with the HL Aries project to create a standardized means of authenticated general message passing between DID controllers. More information will be added soon.",
      links: [
        {
          text: "Repo",
          href: "https://github.com/decentralized-identity/DIDComm-js"
        }
      ]
    }
  }
%}

{%
  set chairs = {
    "Oliver Terbu": {
      title: "Identity Architect @ Spruce",
      photo: "/images/photos/oliver-terbu.jpg",
      linkedin: "oliver-terbu",
      twitter: "OliverTerbu"
    }
  }
%}

{%
  set liaison = {
    "Kristina Yasuda": {
      title: "OIDC liaison / Microsoft",
      photo: "/images/photos/kristina_yasuda.jpg",
      linkedin: "kristina-yasuda-6263b5a2",
      twitter: "kristinayasuda"
    }
  }
%}

{% extends "wg_liaison.html.njk" %}
