{% extends "group_base.html.njk" %}
{% set wg_id = "authentication" %}
{% set name = workingGroups.archivedWorkingGroups["authentication"].name %}
{% set logo = workingGroups.archivedWorkingGroups["authentication"].logo %}
{% set title = workingGroups.archivedWorkingGroups["authentication"].title %}
{% set scope = workingGroups.archivedWorkingGroups["authentication"].scope %}
{% set shortform = workingGroups.archivedWorkingGroups["authentication"].shortform %}
{% set charters = workingGroups.archivedWorkingGroups["authentication"].charters %}
{% set projects = workingGroups.archivedWorkingGroups["authentication"].projects %}
{% set chairs = workingGroups.archivedWorkingGroups["authentication"].chairs %}
{% set type = workingGroups.archivedWorkingGroups["authentication"].type %}
{% set meetingSchedule = workingGroups.archivedWorkingGroups["authentication"].meetingSchedule %}
{% set repoTag = workingGroups.archivedWorkingGroups["authentication"].repoTag %}