{% set name = "Claims and Credentials" %}
{% set logo = "validate_user" %}
{% set title = "Claims and Credentials Working Group" %}
{% set scope = "Join this group to contribute to the standards and technology that create, exchange, and verify claims and credentials in a decentralized identity ecosystem. For example, a cryptographically verifiable credential that proves an individual has a college degree or is of a certain age. Our members focus on specs that are vendor agnostic and based on industry standards." %}
{% set projects = {
    "Credential Manifest": {
      desc: "The DID Credential Manifest is a format that aims to normalize the process of credential acquisition, wherein the issuer is able to describe the requirements the subject or participant in the credential generation process must meet for the issuer to generate the desired credential.",
      links: [
        {
          text: "Explainer",
          href: "https://github.com/decentralized-identity/credential-manifest/blob/master/explainer.md"
        },
        {
          text: "Repo",
          href: "https://github.com/decentralized-identity/credential-manifest"
        }
      ]
    }
  }
%}

{% set chairs = {
  "Martin Riedel": {
    title: "Product Manager @ Identity.com",
    photo: "/images/photos/martin-riedel.jpg",
    linkedin: "rado0x54",
    twitter: "rado0x54"
  },
  "Wayne Chang": {
    title: "Head of Product, Alpine, Consensys",
    photo: "/images/photos/wayne_chang_.jpg",
    linkedin: "waynebuilds",
    twitter: "wycdd"
  },
	"Jonathan Reynolds": {
      title: "Principal Software Engineer, Workday",
      photo: "/images/photos/jonathan_reynolds.jpg",
      linkedin: "jr3yn0lds",
      twitter: "fewffqqfwfwerer"
    }
  }
%}

{% extends "wg.html" %}
