{% extends "group_base.html.njk" %}
{% set wg_id = "claims-credentials" %}
{% set name = workingGroups.activeWorkingGroups["claims-credentials"].name %}
{% set logo = workingGroups.activeWorkingGroups["claims-credentials"].logo %}
{% set title = workingGroups.activeWorkingGroups["claims-credentials"].title %}
{% set scope = workingGroups.activeWorkingGroups["claims-credentials"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["claims-credentials"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["claims-credentials"].charters %}
{% set projects = workingGroups.activeWorkingGroups["claims-credentials"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["claims-credentials"].chairs %}
{% set type = workingGroups.activeWorkingGroups["claims-credentials"].type %}
{% set liaison = workingGroups.activeWorkingGroups["claims-credentials"].liaison %}
{% set editors = workingGroups.activeWorkingGroups["claims-credentials"].editors %}