{% set name = "Claims and Credentials" %}
{% set logo = "validate_user" %}
{% set title = "Claims and Credentials Working Group" %}
{% set scope = "Join this group to contribute to the standards and technology that create, exchange, and verify claims and credentials in a decentralized identity ecosystem. For example, a cryptographically verifiable credential that proves an individual has a college degree or is of a certain age. Our members focus on specs that are vendor agnostic and based on industry standards." %}
{% set projects = {
    "Chainpoint": {
      desc: "Industry standard for creating a timestamp proof of any data, file, or process.",
      links: [
        {
          text: "White Paper",
          href: "https://github.com/chainpoint/whitepaper/raw/master/chainpoint_white_paper.pdf"
        },
        {
          text: "Repo",
          href: "https://github.com/chainpoint"
        }
      ]
    },
    "Identity.com Credential Commons": {
      desc: "An implementation of Verifiable Credentials.",
      links: [
        {
          text: "Readme",
          href: "https://github.com/identity-com/credential-commons/blob/master/README.md"
        },
        {
          text: "Repo",
          href: "https://github.com/identity-com/credential-commons"
        }
      ]
    },
    "Identity.com Dynamic Scope Request": {
      desc: "(Coming Soon) Identity.com's implementation of a request protocol for presentation of credentials between Verifiers and Subjects / Holders."
    }
  }
%}

{% set chairs = {
  "Wayne Vaughan": {
      title: "CEO @ Tierion",
      photo: "/images/photos/wayne-vaughan.jpg",
      linkedin: "wayne",
      twitter: "waynevaughan"
    },
    "Martin Riedel": {
      title: "Product Manager @ Identity.com",
      photo: "/images/photos/martin-riedel.jpg",
      linkedin: "rado0x54",
      twitter: "rado0x54"
    },
    "Kim (Hamilton) Duffy": {
      title: "CTO @ Learning machine",
      photo: "/images/photos/kim-hamilton.jpg",
      linkedin: "kimdhamilton",
      twitter: "kimdhamilton"
    }
  }
%}

{% extends "wg.html" %}