{% extends "group_base.html.njk" %}
{% set wg_id = "creator-assertions" %}
{% set name = workingGroups.activeWorkingGroups["creator-assertions"].name %}
{% set logo = workingGroups.activeWorkingGroups["creator-assertions"].logo %}
{% set title = workingGroups.activeWorkingGroups["creator-assertions"].title %}
{% set scope = workingGroups.activeWorkingGroups["creator-assertions"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["creator-assertions"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["creator-assertions"].charters %}
{% set projects = workingGroups.activeWorkingGroups["creator-assertions"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["creator-assertions"].chairs %}
{% set type = workingGroups.activeWorkingGroups["creator-assertions"].type %}
{% set meetingSchedule = workingGroups.activeWorkingGroups["creator-assertions"].meetingSchedule %}
{% set repoTag = workingGroups.activeWorkingGroups["creator-assertions"].repoTag %}
{% set discussionChannels = workingGroups.activeWorkingGroups["creator-assertions"].discussionChannels %}