{% extends "group_base.html.njk" %}
{% set wg_id = "crypto" %}
{% set name = workingGroups.activeWorkingGroups["crypto"].name %}
{% set logo = workingGroups.activeWorkingGroups["crypto"].logo %}
{% set title = workingGroups.activeWorkingGroups["crypto"].title %}
{% set scope = workingGroups.activeWorkingGroups["crypto"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["crypto"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["crypto"].charters %}
{% set projects = workingGroups.activeWorkingGroups["crypto"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["crypto"].chairs %}
{% set type = workingGroups.activeWorkingGroups["crypto"].type %}
{% set meetingSchedule = workingGroups.activeWorkingGroups["crypto"].meetingSchedule %}
{% set repoTag = workingGroups.activeWorkingGroups["crypto"].repoTag %}
{% set discussionChannels = workingGroups.activeWorkingGroups["crypto"].discussionChannels %}