{% set name = "DIDComm Working Group" %}
{% set logo = "communicate_user" %}
{% set title = "DIDComm Working Group" %}
{% set shortform = "DIDcomm" %}
{% set scope = "Join this group to contribute to specs that embody a method for secure, private and authenticated message-based communication, where trust is rooted in DIDs and used over a wide variety of transports." %}
{% set charters = {
    "DIDcomm WG documentation": {
        links: [
        {
          text: "WG Charter",
          href: "https://github.com/decentralized-identity/org/blob/master/Org%20documents/WG%20documents/DIF_DIDcomm_WG_Charter_v1.pdf"
        },
        {
          text: "WG Operating Addendum",
          href: "https://github.com/decentralized-identity/org/blob/master/Org%20documents/WG%20documents/DIF_DIDcomm_WG_Operating_Addendum_v1.pdf"
        },
        {
          text: "DIDComm Homepage",
          href: "https://didcomm.org"
        },
        {
          text: "DIDComm Book",
          href: "https://book.didcomm.org"
        },
        {
          text: "Mailing list",
          href: "https://lists.identity.foundation/g/didcomm-wg"
        },
        {
          text: "DIDComm User Group Resources",
          href: "https://identity.foundation/didcomm-usergroup/"
        },
        {
          text: "Calendar entry",
          href: "https://calendar.google.com/event?action=TEMPLATE&tmeid=amwwN202aWljN2dqa21pZmJyM3NuZjYyMHVfMjAyNTAyMDNUMjAwMDAwWiBkZWNlbnRyYWxpemVkLmlkZW50aXR5QG0=&tmsrc=decentralized.identity%40gmail.com&scp=ALL"
        },
        {
        text: "WG Meeting Recordings",
        href:
        "https://docs.google.com/spreadsheets/d/1wgccmMvIImx30qVE9GhRKWWv3vmL2ZyUauuKx3IfRmA/edit?gid=429611178#gid=429611178"
        }
      ]
    }
  }
%}
{% set repoTag = "wg-didcomm" %}
{% set chairs = {
    "Sam Curren": {
      title: "Technology Guy",
      photo: "/images/photos/sam-curren.jpg",
      linkedin: "samcurren",
      twitter: "telegramsam"
    },
    "Steve McCown": {
      title: "Chief Architect @ Anonyome Labs",
      photo: "/images/photos/steve-mccown.jpeg",
      linkedin: "mccown"
    }
   }
%}

{% extends "wg.html.njk" %}
