{% set name = "DID Communication" %}
{% set logo = "communicate_user" %}
{% set title = "DID Communication Working Group" %}
{% set scope = "Join this group to contribute to standards and technology that designs and implements authentication protocols that rely upon open standards and cryptographic protocols, including DIDs and DID Documents. This group develops specifications, protocols, and formats for data structures used for authentication." %}
{% set charters = {
    "DIDcomm WG documentation": {
      links: [
        {
          text: "DIDcomm WG Charter",
          href: "https://github.com/decentralized-identity/decentralized-identity.github.io/blob/master/assets/Org%20documents/WG%20documents/DIF_DIDcomm_WG_Charter_v1.pdf"
        },
        {
          text: "DIDcomm WG Operating Addendum",
          href: "https://github.com/decentralized-identity/decentralized-identity.github.io/blob/master/assets/Org%20documents/WG%20documents/DIF_DIDcomm_WG_Operating_Addendum_v1.pdf"
        },
        {
          text: "Mailing list",
          href: "https://dif.groups.io/g/didcomm-wg"
        }
      ]
    }
  }
%}
{% set repoTag = "wg-comm" %}
{% set projects = {
    "DIDComm JS Lib": {
      desc: "A shared effort with the HL Aries project to create a standardized means of authenticated general message passing between DID controllers. More information will be added soon.",
      links: [
        {
          text: "Repo",
          href: "https://github.com/decentralized-identity/DIDComm-js"
        }
      ]
    }
  }
%}

{% set chairs = {
    "Sam Curren": {
      title: "Tech Guy @ Mattr",
      photo: "/images/photos/sam-curren.jpg",
      linkedin: "samcurren",
      twitter: "telegramsam"
    },
    "Oliver Terbu": {
      title: "Identity Architect @ ConsenSys",
      photo: "/images/photos/oliver-terbu.jpg",
      linkedin: "oliver-terbu",
      twitter: "OliverTerbu"
    },
    "Tobias Looker": {
      title: "OSS contributor @ Mattr",
      photo: "/images/photos/tobias-looker.jpg",
      linkedin: "tplooker",
      twitter: "tplooker"
    }
  }
%}

{% extends "wg.html.njk" %}
