{% extends "group_base.html.njk" %}
{% set wg_id = "did-methods" %}
{% set name = workingGroups.activeWorkingGroups["did-methods"].name %}
{% set logo = workingGroups.activeWorkingGroups["did-methods"].logo %}
{% set title = workingGroups.activeWorkingGroups["did-methods"].title %}
{% set scope = workingGroups.activeWorkingGroups["did-methods"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["did-methods"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["did-methods"].charters %}
{% set projects = workingGroups.activeWorkingGroups["did-methods"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["did-methods"].chairs %}
{% set type = workingGroups.activeWorkingGroups["did-methods"].type %}
{% set meetingSchedule = workingGroups.activeWorkingGroups["did-methods"].meetingSchedule %}
{% set repoTag = workingGroups.activeWorkingGroups["did-methods"].repoTag %}