{% extends "group_base.html.njk" %}
{% set wg_id = "did-comm" %}
{% set name = workingGroups.activeWorkingGroups["did-comm"].name %}
{% set logo = workingGroups.activeWorkingGroups["did-comm"].logo %}
{% set title = workingGroups.activeWorkingGroups["did-comm"].title %}
{% set scope = workingGroups.activeWorkingGroups["did-comm"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["did-comm"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["did-comm"].charters %}
{% set projects = workingGroups.activeWorkingGroups["did-comm"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["did-comm"].chairs %}
{% set type = workingGroups.activeWorkingGroups["did-comm"].type %}
{% set meetingSchedule = workingGroups.activeWorkingGroups["did-comm"].meetingSchedule %}
{% set repoTag = workingGroups.activeWorkingGroups["did-comm"].repoTag %}