{% extends "group_base.html.njk" %}
{% set wg_id = "hospitality-travel-wg" %}
{% set name = workingGroups.activeWorkingGroups["hospitality-travel-wg"].name %}
{% set logo = workingGroups.activeWorkingGroups["hospitality-travel-wg"].logo %}
{% set title = workingGroups.activeWorkingGroups["hospitality-travel-wg"].title %}
{% set scope = workingGroups.activeWorkingGroups["hospitality-travel-wg"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["hospitality-travel-wg"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["hospitality-travel-wg"].charters %}
{% set projects = workingGroups.activeWorkingGroups["hospitality-travel-wg"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["hospitality-travel-wg"].chairs %}
{% set type = workingGroups.activeWorkingGroups["hospitality-travel-wg"].type %}
{% set meetingSchedule = workingGroups.activeWorkingGroups["hospitality-travel-wg"].meetingSchedule %}
{% set repoTag = workingGroups.activeWorkingGroups["hospitality-travel-wg"].repoTag %}
{% set discussionChannels = workingGroups.activeWorkingGroups["hospitality-travel-wg"].discussionChannels %}