{% set name = "Identifiers & Discovery" %}
{% set logo = "user_graph" %}
{% set title = "Identifiers & Discovery Working Group" %}
{% set scope = "Members of the Working Group are engaged in development of protocols and systems that enable creation, resolution, and discovery of decentralized identifiers and names across underlying decentralized systems, like blockchains and distributed ledgers." %}
{% set repoTag = "wg-id" %}
{% set projects = {
    "Universal Resolver": {
      desc: "Spec and implementation of a driver-based framework that enables resolution of DIDs.",
      links: [
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/universal-resolver"
        },
        {
          text: "Public Instance",
          href: "https://uniresolver.io/"
        },
        {
          text: "Driver Development",
          href: "https://github.com/decentralized-identity/universal-resolver/blob/master/docs/driver-development.md"
        }
      ]
    },
    "Universal Registrar": {
      desc: "Spec and implementation of a driver-based framework that enables creation/updates/deactivation of DIDs.",
      links: [
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/universal-registrar"
        },
        {
          text: "Public Instance",
          href: "https://uniregistrar.io/"
        },
        {
          text: "Driver Development",
          href: "https://github.com/decentralized-identity/universal-registrar/blob/master/docs/driver-development.md"
        }
      ]
    },
    "Sidetree Protocol": {
      desc: "Spec, docs, and implementations for the chain/ledger-agnostic DID scaling protocol.",
      links: [
        {
          text: "Component Overview",
          href: "https://raw.githubusercontent.com/decentralized-identity/sidetree-core/master/docs/diagrams/architecture.png"
        },
        {
          text: "Explainer",
          href: "https://github.com/decentralized-identity/sidetree-core/blob/master/docs/protocol.md"
        },
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/sidetree-core"
        },
        {
          text: "IPFS Service Component",
          href: "https://github.com/decentralized-identity/sidetree/tree/master/lib/ipfs"
        },
        {
          text: "Bitcoin Adapter",
          href: "https://github.com/decentralized-identity/sidetree/tree/master/lib/bitcoin"
        }
      ]
    },
    ".well-known DID configuration": {
      desc: "Spec, docs, and implementations for discovering DIDs from .well-known HTTP(S) URIs.",
      links: [
        {
          text: "Spec",
          href: "https://identity.foundation/specs/did-configuration/"
        },
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/.well-known/"
        },
        {
          text: "Demo Web App",
          href: "https://identity.foundation/.well-known/resources/did-configuration/demo/build/index.html"
        }
      ]
    },
    "KERI - Key Event Receipt Infrastructure": {
      desc: "Spec and implementation of an identifier and key rotation technology, where your primary root of trust is entropy, not any particular ledger.",
      links: [
        {
          text: "Spec and Implementation",
          href: "https://github.com/decentralized-identity/keri"
        }
      ]
    }
  }
%}

{% set chairs = {
  "Markus Sabadello": {
      title: "Founder of Danube Tech",
      photo: "/images/photos/markus-sabodello.jpg",
      linkedin: "markus-sabadello-353a0821",
      twitter: "peacekeeper"
    },
    "Jude Nelson": {
      title: "Engineering Partner @ Blockstack",
      photo: "/images/photos/jude-nelson.jpg",
      linkedin: "jude-nelson-a3181b4a",
      twitter: "judecnelson"
    }
  }
%}

{% extends "wg.html" %}