{% set name = "Identifiers & Discovery" %}
{% set logo = "user_graph" %}
{% set title = "Identifiers & Discovery Working Group" %}
{% set scope = "Members of the Working Group are engaged in development of protocols and systems that enable creation, resolution, and discovery of decentralized identifiers and names across underlying decentralized systems, like blockchains and distributed ledgers." %}
{% set repoTag = "wg-id" %}
{% set charters = {
  "Identifiers and Discovery WG documentation": {
    links: [
      {
        text: "I&D WG Charter",
        href: "https://github.com/decentralized-identity/org/blob/master/Org%20documents/WG%20documents/DIF_ID_WG_charter_v1.pdf"
      },
      {
        text: "Mailing list",
        href: "https://lists.identity.foundation/g/id-wg"
      },
      {
        text: "Meeting page",
        href: "https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md"
      },
      {
        text: "Slack channel",
        href: "https://difdn.slack.com/messages/C4WED8JSH"
      }
    ]
  }
}
%}
{% set projects = {
    "Universal Resolver": {
      desc: "Spec and implementation of a driver-based framework that enables resolution of DIDs.",
      links: [
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/universal-resolver"
        },
        {
          text: "Public Instance",
          type: "app",
          href: "https://uniresolver.io/"
        },
        {
          text: "Driver Development",
          href: "https://github.com/decentralized-identity/universal-resolver/blob/master/docs/driver-development.md"
        }
      ]
    },
    "Universal Registrar": {
      desc: "Spec and implementation of a driver-based framework that enables creation/updates/deactivation of DIDs.",
      links: [
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/universal-registrar"
        },
        {
          text: "Public Instance",
          type: "app",
          href: "https://uniregistrar.io/"
        },
        {
          text: "Driver Development",
          href: "https://github.com/decentralized-identity/universal-registrar/blob/master/docs/driver-development.md"
        }
      ]
    },
    ".well-known DID configuration": {
      desc: "Spec, docs, and implementations for discovering DIDs from .well-known HTTP(S) URIs.",
      links: [
        {
          text: "Spec",
          href: "https://identity.foundation/specs/did-configuration/"
        },
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/.well-known/"
        },
        {
          text: "Demo Web App",
          type: "app",
          href: "https://identity.foundation/.well-known/resources/did-configuration/demo/build/index.html"
        }
      ]
    },
    "KERI - Key Event Receipt Infrastructure": {
      desc: "Spec and implementation of an identifier and key rotation technology, where your primary root of trust is entropy, not any particular ledger.",
      links: [
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/keri"
        }
      ]
    },
    "Peer DID Method Specification": {
      desc: "A rich DID method that has no blockchain dependencies. The verifiable data registry is a synchronization protocol between peers.",
      links: [
        {
          text: "Spec",
          type: "doc",
          href: "https://identity.foundation/peer-did-method-spec/"
        },
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/peer-did-method-spec"
        }
      ]
    },
    "DID Spec Extensions": {
      desc: " Extension parameters, properties, and values for the DID spec registries.",
      links: [
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/did-spec-extensions"
        }
      ]
    }
  }
%}

{% set chairs = {
  "Markus Sabadello": {
      title: "Founder @ Danube Tech",
      photo: "/images/photos/markus-sabadello.jpg",
      linkedin: "markus-sabadello-353a0821",
      twitter: "peacekeeper"
    },
    "Samuel Smith": {
      title: "Founder @ ProSapien",
      photo: "/images/photos/samuel-smith.jpg",
      linkedin: "samuel-m-smith-phd-4652751"
    }
  }
%}

{% extends "wg.html" %}
