{% extends "wg_base.html.njk" %}
{% set wg_id = "identifiers-discovery" %}
{% set name = workingGroups.activeWorkingGroups["identifiers-discovery"].name %}
{% set logo = workingGroups.activeWorkingGroups["identifiers-discovery"].logo %}
{% set title = workingGroups.activeWorkingGroups["identifiers-discovery"].title %}
{% set scope = workingGroups.activeWorkingGroups["identifiers-discovery"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["identifiers-discovery"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["identifiers-discovery"].charters %}
{% set projects = workingGroups.activeWorkingGroups["identifiers-discovery"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["identifiers-discovery"].chairs %}
{% set liaison = workingGroups.activeWorkingGroups["identifiers-discovery"].liaison %}
{% set editors = workingGroups.activeWorkingGroups["identifiers-discovery"].editors %}
{% set type = workingGroups.activeWorkingGroups["identifiers-discovery"].type %}