{% set name = "Identifiers & Discovery" %}
{% set logo = "user_graph" %}
{% set title = "Identifiers & Discovery Working Group" %}
{% set scope = "Members of the Working Group are engaged in development of protocols and systems that enable creation, resolution, and discovery of decentralized identifiers and names across underlying decentralized systems, like blockchains and distributed ledgers." %}
{% set repoTag = "wg-id" %}
{% set projects = {
    "Universal Resolver": {
      desc: "Spec and implementation of a driver-based framework that enables resolution of DIDs.",
      links: [
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/universal-resolver"
        },
        {
          text: "Public Instance",
          href: "https://uniresolver.io/"
        },
        {
          text: "Driver Development",
          href: "https://github.com/decentralized-identity/universal-resolver/blob/master/docs/driver-development.md"
        }
      ]
    },
    "Universal Registrar": {
      desc: "Spec and implementation of a driver-based framework that enables creation/updates/deactivation of DIDs.",
      links: [
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/universal-registrar"
        },
        {
          text: "Public Instance",
          href: "https://uniregistrar.io/"
        },
        {
          text: "Driver Development",
          href: "https://github.com/decentralized-identity/universal-registrar/blob/master/docs/driver-development.md"
        }
      ]
    },
    ".well-known DID configuration": {
      desc: "Spec, docs, and implementations for discovering DIDs from .well-known HTTP(S) URIs.",
      links: [
        {
          text: "Spec",
          href: "https://identity.foundation/specs/did-configuration/"
        },
        {
          text: "Main Repo",
          href: "https://github.com/decentralized-identity/.well-known/"
        },
        {
          text: "Demo Web App",
          href: "https://identity.foundation/.well-known/resources/did-configuration/demo/build/index.html"
        }
      ]
    },
    "KERI - Key Event Receipt Infrastructure": {
      desc: "Spec and implementation of an identifier and key rotation technology, where your primary root of trust is entropy, not any particular ledger.",
      links: [
        {
          text: "Spec and Implementation",
          href: "https://github.com/decentralized-identity/keri"
        }
      ]
    }
  }
%}

{% set chairs = {
  "Markus Sabadello": {
      title: "Founder @ Danube Tech",
      photo: "/images/photos/markus-sabadello.jpg",
      linkedin: "markus-sabadello-353a0821",
      twitter: "peacekeeper"
    },
    "Samuel Smith": {
      title: "Founder @ ProSapien",
      photo: "/images/photos/samuel-smith.jpg",
      linkedin: "samuel-m-smith-phd-4652751"
    }
  }
%}

{% extends "wg.html" %}
