{% set css = ['events'] %}
{% set js = ['jsonp', 'events'] %}

{% extends "default.html.njk" %}


{% block content %}
  <section class="page-title theme-bg">
    <div class="container">
      <h1>Working Groups</h1>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        {% for key, wg in workingGroups %}
          <div class="col-md-6 col-lg-4 m-15px-tb">
            <a href="/working-groups/{{key}}.html" class="feature-box">
              <svg><use xlink:href="/images/icons.svg#{{wg.logo}}"></use></svg>
              <h5>{{wg.name}}</h5>
              <p>{{wg.scope}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
