{% extends "wg.html.njk" %}
{% block content %}
<section class="page-title theme-bg">
  <div class="container">
    <svg viewBox="0 0 50 50">
      <use xlink:href="/images/icons.svg#key"></use>
    </svg>
    <h1>KERI</h1>
    
      <h3>Working Group (Archived)</h3>
    
    
  </div>
</section>
<section class="counter-section">
  <div class="container">
    <div class="row justify-content-center m-45px-b md-m-20px-b sm-m-15px-b">
      <div class="col-12 col-md-10 col-lg-10">
        <div class="section-title text-center">
          <h2 class="font-alt">Scope of Work</h2>
          <div class="title-border">
            <span class="lg"></span>
            <span class="md"></span>
            <span class="sm"></span>
          </div>
          <p>The KERI Working Group is no longer active under DIF. Ongoing KERI work has moved to this <a href="https://github.com/WebOfTrust/keri">Web of Trust GitHub repository</a> . Please click there if you are interested in KERI.</p>
        </div>
      </div>
      <div class="col-10 col-md-8 col-lg-6 m-30px-t margin-center">
        <dl>
          
            <dt></dt>
            <dd>
              <p></p>
              
                
              
            </dd>
          
        </dl>
      </div>
    </div>
  </div>
</section>
{% endblock %}