{% extends "group_base.html.njk" %}
{% set wg_id = "keri" %}
{% set name = workingGroups.archivedWorkingGroups["keri"].name %}
{% set logo = workingGroups.archivedWorkingGroups["keri"].logo %}
{% set title = workingGroups.archivedWorkingGroups["keri"].title %}
{% set scope = workingGroups.archivedWorkingGroups["keri"].scope %}
{% set shortform = workingGroups.archivedWorkingGroups["keri"].shortform %}
{% set charters = workingGroups.archivedWorkingGroups["keri"].charters %}
{% set projects = workingGroups.archivedWorkingGroups["keri"].projects %}
{% set chairs = workingGroups.archivedWorkingGroups["keri"].chairs %}
{% set type = workingGroups.archivedWorkingGroups["keri"].type %}
{% set meetingSchedule = workingGroups.archivedWorkingGroups["keri"].meetingSchedule %}
{% set repoTag = workingGroups.archivedWorkingGroups["keri"].repoTag %}
{% set discussionChannels = workingGroups.archivedWorkingGroups["keri"].discussionChannels %}