{% extends "group_base.html.njk" %}
{% set wg_id = "labs" %}
{% set name = workingGroups.activeWorkingGroups["labs"].name %}
{% set logo = workingGroups.activeWorkingGroups["labs"].logo %}
{% set title = workingGroups.activeWorkingGroups["labs"].title %}
{% set scope = workingGroups.activeWorkingGroups["labs"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["labs"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["labs"].charters %}
{% set projects = workingGroups.activeWorkingGroups["labs"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["labs"].chairs %}
{% set type = workingGroups.activeWorkingGroups["labs"].type %}
{% set meetingSchedule = workingGroups.activeWorkingGroups["labs"].meetingSchedule %}
{% set repoTag = workingGroups.activeWorkingGroups["labs"].repoTag %}
{% set discussionChannels = workingGroups.activeWorkingGroups["labs"].discussionChannels %}