{% extends "wg_base.html.njk" %}
{% set wg_id = "secure-data-storage" %}
{% set name = workingGroups[wg_id].name %}
{% set logo = workingGroups[wg_id].logo %}
{% set title = workingGroups[wg_id].title %}
{% set scope = workingGroups[wg_id].scope %}
{% set shortform = workingGroups[wg_id].shortform %}
{% set charters = workingGroups[wg_id].charters %}
{% set projects = workingGroups[wg_id].projects %}
{% set chairs = workingGroups[wg_id].chairs %}
{% set liaison = workingGroups[wg_id].liaison %}
{% set editors = workingGroups[wg_id].editors %}
{% set status = workingGroups[wg_id].status %}
{% set type = workingGroups[wg_id].type %}
{% set repoTag = workingGroups[wg_id].repoTag %}
{% set repoTopics = workingGroups[wg_id].repoTopics %}
{% set meetings = workingGroups[wg_id].meetings %}
