{% extends "wg_base.html.njk" %}
{% set wg_id = "secure-data-storage" %}
{% set name = workingGroups.activeWorkingGroups["secure-data-storage"].name %}
{% set logo = workingGroups.activeWorkingGroups["secure-data-storage"].logo %}
{% set title = workingGroups.activeWorkingGroups["secure-data-storage"].title %}
{% set scope = workingGroups.activeWorkingGroups["secure-data-storage"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["secure-data-storage"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["secure-data-storage"].charters %}
{% set projects = workingGroups.activeWorkingGroups["secure-data-storage"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["secure-data-storage"].chairs %}
{% set liaison = workingGroups.activeWorkingGroups["secure-data-storage"].liaison %}
{% set editors = workingGroups.activeWorkingGroups["secure-data-storage"].editors %}
{% set type = workingGroups.activeWorkingGroups["secure-data-storage"].type %}