{% extends "group_base.html.njk" %}
{% set wg_id = "secure-data-storage" %}
{% set name = workingGroups.archivedWorkingGroups["secure-data-storage"].name %}
{% set logo = workingGroups.archivedWorkingGroups["secure-data-storage"].logo %}
{% set title = workingGroups.archivedWorkingGroups["secure-data-storage"].title %}
{% set scope = workingGroups.archivedWorkingGroups["secure-data-storage"].scope %}
{% set shortform = workingGroups.archivedWorkingGroups["secure-data-storage"].shortform %}
{% set charters = workingGroups.archivedWorkingGroups["secure-data-storage"].charters %}
{% set projects = workingGroups.archivedWorkingGroups["secure-data-storage"].projects %}
{% set chairs = workingGroups.archivedWorkingGroups["secure-data-storage"].chairs %}
{% set type = workingGroups.archivedWorkingGroups["secure-data-storage"].type %}
{% set meetingSchedule = workingGroups.archivedWorkingGroups["secure-data-storage"].meetingSchedule %}
{% set repoTag = workingGroups.archivedWorkingGroups["secure-data-storage"].repoTag %}