{% extends "group_base.html.njk" %}
{% set wg_id = "sidetree" %}
{% set name = workingGroups.archivedWorkingGroups["sidetree"].name %}
{% set logo = workingGroups.archivedWorkingGroups["sidetree"].logo %}
{% set title = workingGroups.archivedWorkingGroups["sidetree"].title %}
{% set scope = workingGroups.archivedWorkingGroups["sidetree"].scope %}
{% set shortform = workingGroups.archivedWorkingGroups["sidetree"].shortform %}
{% set charters = workingGroups.archivedWorkingGroups["sidetree"].charters %}
{% set projects = workingGroups.archivedWorkingGroups["sidetree"].projects %}
{% set chairs = workingGroups.archivedWorkingGroups["sidetree"].chairs %}
{% set type = workingGroups.archivedWorkingGroups["sidetree"].type %}
{% set liaison = workingGroups.archivedWorkingGroups["sidetree"].liaison %}
{% set editors = workingGroups.archivedWorkingGroups["sidetree"].editors %}