{% set name = "Sidetree" %}
{% set logo = "sidetree" %}
{% set title = "Sidetree Developement & Operating Group" %}
{% set subtitle = "Developement & Operating Group" %}
{% set scope = "The development and maintenance of the formal Sidetree specification, 
and a hub of coordination for Sidetree-based DID Method node operators. 
This group also generates libraries, tooling, and documentation to 
aid Sidetree-based DID Method node operators." %}
{% set charters = {
    "Sidetree Developement & Operating Group documentation": {
      links: [
        {
          text: "Sidetree DOG Charter",
          href: "https://github.com/decentralized-identity/org/blob/master/Org%20documents/WG%20documents/DIF_Sidetree_WG_charter_v1.pdf"
        },
        {
          text: "Mailing list",
          href: "https://dif.groups.io/g/sidetree-wg"
        },
        {
          text: "Meeting page",
          href: "https://docs.google.com/document/d/12l4wNkgkDn0tXxTPKB502gRXHa1hd7m0_KyebfRqMAo/edit?usp=sharing"
        }
      ]
    }
  }
%}
{% set repoTag = "wg-sidetree" %}
{% set projects = {
  "Sidetree Protocol": {
    desc: "Spec, docs, and implementations for the chain/ledger-agnostic DID scaling protocol.",
    links: [
      {
        text: "Main Repo",
        href: "https://github.com/decentralized-identity/sidetree-core"
      },
      {
        text: "Specification",
        type: "doc",
        href: "https://identity.foundation/sidetree/spec/"
      }
    ]
   },
   "ION": {
    desc: "An implementation of the Sidetree protocol atop the Bitcoin blockchain.",
    links: [
      {
        text: "Main Repo",
        href: "https://github.com/decentralized-identity/ion"
      },
      {
        text: "Install Guide",
        href: "https://github.com/decentralized-identity/ion/blob/master/install-guide.md"
      }
    ]
   },
   "Element": {
    desc: "An implementation of the Sidetree protocol using the Ethereum blockchain.",
    links: [
      {
        text: "Main Repo",
        href: "https://github.com/decentralized-identity/element"
      },
      {
        text: "Demo Wallet & Explorer",
        type: "app",
        href: "https://element-did.com/"
      }
    ]
   }
  }
%}

{% set chairs = {
  "Daniel Buchner": {
      title: "Decentralized Identity @ Microsoft",
      photo: "/images/photos/daniel-buchner.jpg",
      linkedin: "dbuchner",
      twitter: "csuwildcat"
    },
    "Troy Ronda ": {
      title: "Chief Scientist @ Securekey",
      photo: "/images/photos/troy-ronda.jpg",
      linkedin: "troyronda",
      twitter: "troyronda"
    }
  }
%}

{% extends "wg.html" %}
