{% extends "group_base.html.njk" %}
{% set wg_id = "storage-compute" %}
{% set name = workingGroups.archivedWorkingGroups["storage-compute"].name %}
{% set logo = workingGroups.archivedWorkingGroups["storage-compute"].logo %}
{% set title = workingGroups.archivedWorkingGroups["storage-compute"].title %}
{% set scope = workingGroups.archivedWorkingGroups["storage-compute"].scope %}
{% set shortform = workingGroups.archivedWorkingGroups["storage-compute"].shortform %}
{% set charters = workingGroups.archivedWorkingGroups["storage-compute"].charters %}
{% set projects = workingGroups.archivedWorkingGroups["storage-compute"].projects %}
{% set chairs = workingGroups.archivedWorkingGroups["storage-compute"].chairs %}
{% set type = workingGroups.archivedWorkingGroups["storage-compute"].type %}
{% set liaison = workingGroups.archivedWorkingGroups["storage-compute"].liaison %}
{% set editors = workingGroups.archivedWorkingGroups["storage-compute"].editors %}