{% extends "group_base.html.njk" %}
{% set wg_id = "trusted-agents" %}
{% set name = workingGroups.activeWorkingGroups["trusted-agents"].name %}
{% set logo = workingGroups.activeWorkingGroups["trusted-agents"].logo %}
{% set title = workingGroups.activeWorkingGroups["trusted-agents"].title %}
{% set scope = workingGroups.activeWorkingGroups["trusted-agents"].scope %}
{% set shortform = workingGroups.activeWorkingGroups["trusted-agents"].shortform %}
{% set charters = workingGroups.activeWorkingGroups["trusted-agents"].charters %}
{% set projects = workingGroups.activeWorkingGroups["trusted-agents"].projects %}
{% set chairs = workingGroups.activeWorkingGroups["trusted-agents"].chairs %}
{% set type = workingGroups.activeWorkingGroups["trusted-agents"].type %}
{% set meetingSchedule = workingGroups.activeWorkingGroups["trusted-agents"].meetingSchedule %}
{% set repoTag = workingGroups.activeWorkingGroups["trusted-agents"].repoTag %}
{% set discussionChannels = workingGroups.activeWorkingGroups["trusted-agents"].discussionChannels %}