{% extends "group_base.html.njk" %}
{% set wg_id = "wallet-security" %}
{% set name = workingGroups.archivedWorkingGroups["wallet-security"].name %}
{% set logo = workingGroups.archivedWorkingGroups["wallet-security"].logo %}
{% set title = workingGroups.archivedWorkingGroups["wallet-security"].title %}
{% set scope = workingGroups.archivedWorkingGroups["wallet-security"].scope %}
{% set shortform = workingGroups.archivedWorkingGroups["wallet-security"].shortform %}
{% set charters = workingGroups.archivedWorkingGroups["wallet-security"].charters %}
{% set projects = workingGroups.archivedWorkingGroups["wallet-security"].projects %}
{% set chairs = workingGroups.archivedWorkingGroups["wallet-security"].chairs %}
{% set type = workingGroups.archivedWorkingGroups["wallet-security"].type %}