{% set name = "DIF open positions" %}
{% set logo = "algorithm" %}
{% set title = "Open positions" %}
{% set repoTag = "" %}

{% extends "default.html" %}

<!-- {% block svg %}

{% endblock %} -->

{% block content %}
<section class="page-title theme-bg">
  <div class="container">
    <svg><use xlink:href="#{{logo}}"></use></svg>
    <h1>{{name}}</h1>
    {% if subtitle %}
      <h3>{{subtitle}}</h3>
    {% else %}
      <h3>Decentralized Identity Foundation</h3>
    {% endif %}
  </div>
</section>

<section class="counter-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="font-alt">Head of Communication</h2>
          <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
          <p>Responsible for managing and coordinating DIF’s communications channels and overall messaging strategy. Delivers a coherent understanding of the foundation’s work and goals externally to all kinds of stakeholders and publics. Leads development of educational materials to enable current and prospective members to appreciate and implement materials produced by DIF.
          </p>
          <p>The role includes the management of posts and materials from members, and may include identifying, contracting, and overseeing external contractors for design, spec editing, or event purposes. Title and salary may reflect seniority/onboarding, i.e., a candidate who needs extra time to onboard to both this kind of role and DIF as a community/problem space may need to be hired as “Manager” and be promoted to Director later.            
          </p>
          <h3 class="font-alt">Primary Duties:</h3>
          <ol>
            <li><b>Editorial oversight</b> (Style Guide conformance, not authorship/content oversight) of all outgoing communications: Newsletter, Blog, Twitter, LinkedIn, etc.
              <ol>
                <li>Will likely include informal/ad-hoc review of recruitment correspondence, slide assets, ED or Community Manager presentations at conferences, etc.</li>
                <li>Administration of the CMS/backend of DIF’s official blog, newsletter, and social media accounts</li>
              </ol>
            </li>
            <li><b>Original Content:</b> Work with WGs to produce a monthly average of one significant blog post and one educational resource (i.e. a PDF, a section of the DIF FAQ, etc) 
              <ol>
                <li>“Significant” blog posts could include “<b>write-ups</b>” (potentially in multiple form factors/places) of DIF F2F and other major DIF events/projects, announcements of new programs or initiatives, and detailed press releases about work items coming to a major release or milestone</li>
                <li>Work with community manager to create educational resources and keep the foundation’s static website up to date</li>
                <li>Work with community manager to author monthly newsletter overviewing all working group activity, foundation news, and relevant external and member-submitted content </li>
                <li>Editing member contributions to the blog or working with members on DIF-related content through their own channels should be done as resources allow and should not distract from the original content processes</li>
              </ol>
            </li>
            <li><b>Social Media</b> management:
              <ol>
                <li>at least one major tweet per week to drive engagement to all blog posts, spec releases, etc.</li>
                <li>develop, maintain and implement a LinkedIn strategy internal document or other channels identified as important in dialogue with DIF staff</li>
              </ol>
            </li>
            <li>Own, document, and iterate DIF’s communications <b>strategy</b>, by which DIF’s identity and purpose is communicated
              <ol>
                <li>Specifically, periodic iteration and maintenance of these public documents: 
                  <ol>
                    <li>The <b>Communications Strategy</b>: a living, public document that aligns members on how they represent the DIF publically, including the role of social media and video, </li>
                    <li>the <b>Style Guide</b> for DIF’s publications and media channels, incl. newsletter, social, and video, and</li>
                    <li>The <b>Outreach Strategy</b>: press tracker and organizational map 
                    </li>
                  </ol>
                </li>
                <li>Report periodically (at least quarterly) to the Steering Committee about the above, at SC meetings and/or in emailed reports</li>
              </ol>
            </li>
          </ol>
          <h3 class="font-alt">Secondary/Shared Duties:</h3>

<br>
<br>
        </div>
      </div>              
     </div>
  </div>
</section>


{% endblock %}
