{% extends "group_base.html.njk" %}
{% set sig_id = "africa" %}
{% set name = specialInterestGroups.activeSIGs["africa"].name %}
{% set logo = specialInterestGroups.activeSIGs["africa"].logo %}
{% set title = specialInterestGroups.activeSIGs["africa"].title %}
{% set scope = specialInterestGroups.activeSIGs["africa"].scope %}
{% set shortform = specialInterestGroups.activeSIGs["africa"].shortform %}
{% set charters = specialInterestGroups.activeSIGs["africa"].charters %}
{% set projects = specialInterestGroups.activeSIGs["africa"].projects %}
{% set chairs = specialInterestGroups.activeSIGs["africa"].chairs %}
{% set type = specialInterestGroups.activeSIGs["africa"].type %}
{% set logoImage = specialInterestGroups.activeSIGs["africa"].logoImage %}
{% set logoSize = specialInterestGroups.activeSIGs["africa"].logoSize %}
{% set meeting = specialInterestGroups.activeSIGs["africa"].meeting %}