{% extends "group_base.html.njk" %}
{% set sig_id = "apac" %}
{% set name = specialInterestGroups.activeSIGs["apac"].name %}
{% set logo = specialInterestGroups.activeSIGs["apac"].logo %}
{% set title = specialInterestGroups.activeSIGs["apac"].title %}
{% set scope = specialInterestGroups.activeSIGs["apac"].scope %}
{% set shortform = specialInterestGroups.activeSIGs["apac"].shortform %}
{% set charters = specialInterestGroups.activeSIGs["apac"].charters %}
{% set projects = specialInterestGroups.activeSIGs["apac"].projects %}
{% set chairs = specialInterestGroups.activeSIGs["apac"].chairs %}
{% set type = specialInterestGroups.activeSIGs["apac"].type %}
{% set meetingSchedule = specialInterestGroups.activeSIGs["apac"].meetingSchedule %}
{% set repoTag = specialInterestGroups.activeSIGs["apac"].repoTag %}
{% set discussionChannels = specialInterestGroups.activeSIGs["apac"].discussionChannels %}