{% extends "group_base.html.njk" %}
{% set sig_id = "china" %}
{% set name = specialInterestGroups.activeSIGs["china"].name %}
{% set logo = specialInterestGroups.activeSIGs["china"].logo %}
{% set title = specialInterestGroups.activeSIGs["china"].title %}
{% set scope = specialInterestGroups.activeSIGs["china"].scope %}
{% set shortform = specialInterestGroups.activeSIGs["china"].shortform %}
{% set charters = specialInterestGroups.activeSIGs["china"].charters %}
{% set projects = specialInterestGroups.activeSIGs["china"].projects %}
{% set chairs = specialInterestGroups.activeSIGs["china"].chairs %}
{% set type = specialInterestGroups.activeSIGs["china"].type %}
{% set meetingSchedule = specialInterestGroups.activeSIGs["china"].meetingSchedule %}
{% set repoTag = specialInterestGroups.activeSIGs["china"].repoTag %}
{% set discussionChannels = specialInterestGroups.activeSIGs["china"].discussionChannels %}