{% extends "sig_base.html.njk" %}
{% set sig_id = "glossary" %}
{% set name = specialInterestGroups.activeSIGs[sig_id].name %}
{% set logo = specialInterestGroups.activeSIGs[sig_id].logo %}
{% set logoImage = specialInterestGroups.activeSIGs[sig_id].logoImage %}
{% set logoSize = specialInterestGroups.activeSIGs[sig_id].logoSize %}
{% set title = specialInterestGroups.activeSIGs[sig_id].title %}
{% set scope = specialInterestGroups.activeSIGs[sig_id].scope %}
{% set shortform = specialInterestGroups.activeSIGs[sig_id].shortform %}
{% set charters = specialInterestGroups.activeSIGs[sig_id].charters %}
{% set projects = specialInterestGroups.activeSIGs[sig_id].projects %}
{% set chairs = specialInterestGroups.activeSIGs[sig_id].chairs %}
{% set type = specialInterestGroups.activeSIGs[sig_id].type %}
{% set meeting = specialInterestGroups.activeSIGs[sig_id].meeting %}