{% extends "group_base.html.njk" %}
{% set sig_id = "hospitality-travel" %}
{% set name = specialInterestGroups.activeSIGs["hospitality-travel"].name %}
{% set logo = specialInterestGroups.activeSIGs["hospitality-travel"].logo %}
{% set title = specialInterestGroups.activeSIGs["hospitality-travel"].title %}
{% set scope = specialInterestGroups.activeSIGs["hospitality-travel"].scope %}
{% set shortform = specialInterestGroups.activeSIGs["hospitality-travel"].shortform %}
{% set charters = specialInterestGroups.activeSIGs["hospitality-travel"].charters %}
{% set projects = specialInterestGroups.activeSIGs["hospitality-travel"].projects %}
{% set chairs = specialInterestGroups.activeSIGs["hospitality-travel"].chairs %}
{% set type = specialInterestGroups.activeSIGs["hospitality-travel"].type %}
{% set logoImage = specialInterestGroups.activeSIGs["hospitality-travel"].logoImage %}
{% set logoSize = specialInterestGroups.activeSIGs["hospitality-travel"].logoSize %}
{% set meeting = specialInterestGroups.activeSIGs["hospitality-travel"].meeting %}