{% extends "group_base.html.njk" %}
{% set sig_id = "japan" %}
{% set name = specialInterestGroups.activeSIGs["japan"].name %}
{% set logo = specialInterestGroups.activeSIGs["japan"].logo %}
{% set title = specialInterestGroups.activeSIGs["japan"].title %}
{% set scope = specialInterestGroups.activeSIGs["japan"].scope %}
{% set shortform = specialInterestGroups.activeSIGs["japan"].shortform %}
{% set charters = specialInterestGroups.activeSIGs["japan"].charters %}
{% set projects = specialInterestGroups.activeSIGs["japan"].projects %}
{% set chairs = specialInterestGroups.activeSIGs["japan"].chairs %}
{% set type = specialInterestGroups.activeSIGs["japan"].type %}
{% set logoImage = specialInterestGroups.activeSIGs["japan"].logoImage %}
{% set logoSize = specialInterestGroups.activeSIGs["japan"].logoSize %}
{% set meeting = specialInterestGroups.activeSIGs["japan"].meeting %}