{% extends "group_base.html.njk" %}
{% set sig_id = "korea" %}
{% set name = specialInterestGroups.activeSIGs["korea"].name %}
{% set logo = specialInterestGroups.activeSIGs["korea"].logo %}
{% set title = specialInterestGroups.activeSIGs["korea"].title %}
{% set scope = specialInterestGroups.activeSIGs["korea"].scope %}
{% set shortform = specialInterestGroups.activeSIGs["korea"].shortform %}
{% set charters = specialInterestGroups.activeSIGs["korea"].charters %}
{% set projects = specialInterestGroups.activeSIGs["korea"].projects %}
{% set chairs = specialInterestGroups.activeSIGs["korea"].chairs %}
{% set type = specialInterestGroups.activeSIGs["korea"].type %}
{% set logoImage = specialInterestGroups.activeSIGs["korea"].logoImage %}
{% set logoSize = specialInterestGroups.activeSIGs["korea"].logoSize %}
{% set meeting = specialInterestGroups.activeSIGs["korea"].meeting %}