{% set default_calendar = "https://bit.ly/dif-calendar" %}
{% set default_recordings = "https://identity.foundation/recordings" %}

<div class="container">
  <div class="col-10 col-md-8 col-lg-6 m-10px-t margin-center">
    <dt>Get Involved</dt>


    <div class="meeting-links-container">
      <div class="meeting-link-item">
          <a class="block-link icon-link" href="{{ calendar_link | default(default_calendar) }}">Subscribe to DIF Calendar</a>
      </div>
      <div class="meeting-link-item">
          <a class="block-link icon-link" href="{{ recordings_link | default(default_recordings) }}">Recordings of Recent Meetings</a>
      </div>

      {% if discussionChannels %}
        {% for channel in discussionChannels %}
        <div class="meeting-link-item">
            <a class="block-link icon-link" href="{{ channel.href }}">{{ channel.text }}</a>
        </div>
        
        {% endfor %}
      {% endif %}

          {% if meetingSchedule %}
      {% for schedule in meetingSchedule %}
    
        <p class="meeting-time">
          {% if schedule.key %}
           {{ schedule.key }}: {{ schedule.value }}
          {% else %}
            {{ schedule.value }}
          {% endif %}
      {% endfor %}
      </p>
    {% endif %}
      
    </div>


    {% if type == "wg" %}
    <p><b><i>You must be a DIF member to participate in this group</i>: <a href="https://identity.foundation/join">Join DIF</a></b></p>
    {% endif %}



  </div>
</div>



