<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>DIF - {{ title if title else 'Decentralized Identity Foundation' }}</title>
  <meta name="google-site-verification" content="8yJCkbG9ayv7Vbjgjk525YTGbDVCvUZ_Moviopr6f1M"/> <!-- Plugin CSS -->
  <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/plugins/owl-carousel/css/owl.carousel.min.css" rel="stylesheet"/>
  {% for file in css %}
    <link href="/css/{{ file }}.css" rel="stylesheet"/>
  {% else %}<!-- no css were found to include -->{% endfor %}
  <!-- Theme Style -->
  <link href="/css/styles.css" rel="stylesheet"/>
  <link href="/css/candidate.css" rel="stylesheet"/>
  <link href="/css/meeting-card.css" rel="stylesheet"/>
  <link href="/css/group-cards.css" rel="stylesheet"/>
  <link href="/css/color/default.css" rel="stylesheet" id="color_theme"/> <!-- Favicon -->
  <link rel="icon" href="/favicon.ico"/>
  <link rel="icon" type="image/png" href="/favicon.png?r1"/>
</head>