
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Page Title -->
  <title>DIF - {{title if title else 'Decentralized identity Foundation'}}</title>
  <!-- / -->

  <!---Font Icon-->
  <link href="/plugins/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
  <link href="/plugins/themify-icons/themify-icons.css" rel="stylesheet">
  <!-- / -->

  <!-- Plugin CSS -->
  <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/plugins/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
  <!-- / -->

  <!-- Theme Style -->
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/color/default.css" rel="stylesheet" id="color_theme">
  <!-- / -->

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png?r1">
  <!-- / -->
</head>