{% set default_calendar = "https://bit.ly/dif-calendar" %}
{% set default_recordings = "https://identity.foundation/recordings" %}

<section class="counter-section">
  <div class="container">
    <div class="col-10 col-md-8 col-lg-6 m-30px-t margin-center">
      <div class="col-12 col-md-10 col-lg-7">
        <div class="section-title text-center">
          <h2 class="font-alt">Participate</h2>
          <div class="meeting-links-container">
            <div class="meeting-link-item">
                <a class="block-link icon-link" href="{{ calendar_link | default(default_calendar) }}">Subscribe to DIF Calendar</a>                  
                </a>
            </div>
            <div class="meeting-link-item">
                <a class="block-link icon-link" href="{{ recordings_link | default(default_recordings) }}">Recordings of Recent Meetings</a>                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 


