{% set default_calendar = "https://bit.ly/dif-calendar" %}
{% set default_recordings = "https://identity.foundation/recordings" %}


<div class="container">
  <div class="col-10 col-md-8 col-lg-6 m-10px-t margin-center">
    <dt>Participate</dt>
    <div class="meeting-links-container">
      <div class="meeting-link-item">
          <a class="block-link icon-link" href="{{ calendar_link | default(default_calendar) }}">Subscribe to DIF Calendar</a>                  
          </a>
      </div>
      <div class="meeting-link-item">
          <a class="block-link icon-link" href="{{ recordings_link | default(default_recordings) }}">Recordings of Recent Meetings</a>                  
      </div>
    </div>
  </div>
</div>



