
  <header>
    <nav class="navbar header-nav fixed-top navbar-expand-lg">
      <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/"><img src="/images/logo-white-small.png" /></a>
        <!-- / <span class="theme-bg"></span> -->
        {% block nav_replacement %}{% endblock %}
        {% if nav_empty == undefined %}
          <!-- Mobile Toggle -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <!-- / -->

          <!-- Top Menu -->
          <div class="collapse navbar-collapse justify-content-end" id="navbar">
              <ul class="navbar-nav">
                <li>
                  <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span>
                  <a class="nav-link" href="/#wgs">Work</a>
                  <ul class="sub-menu">
                    <li> Working groups</li>
                    {% for wg in navigation.activeWorkingGroups %}
                      <li>
                        <a href="{{ wg.url }}">{{ wg.name }}</a>
                      </li>
                    {% endfor %}
                    <li>User groups</li>
                    {% for ug in navigation.activeUserGroups %}
                      <li>
                        <a href="{{ ug.url }}">{{ ug.name }} User Group</a>
                      </li>
                    {% endfor %}
                    {% if navigation.archivedUserGroups.length > 0 %}
                      <li>Archived user groups</li>
                      {% for ug in navigation.archivedUserGroups %}
                        <li>
                          <a href="{{ ug.url }}">{{ ug.name }} User Group</a>
                        </li>
                      {% endfor %}
                    {% endif %}
                    <li>Special interest groups</li>
                    {% for sig in navigation.activeSpecialInterestGroups %}
                      <li>
                        <a href="{{ sig.url }}" {% if sig.isExternal %}target="_blank" rel="noopener"{% endif %}>
                          {{ sig.name }} SIG
                          {% if sig.isExternal %}
                            <svg class="external-link-icon"><use xlink:href="/images/icons.svg#external"></use></svg>
                          {% endif %}
                        </a>
                      </li>
                    {% endfor %}
                    <li>Completed or archived</li>
                    {% for wg in navigation.archivedWorkingGroups %}
                      <li>
                        <a href="{{ wg.url }}">{{ wg.name }}</a>
                      </li>
                    {% endfor %}
                    {% for sig in navigation.archivedSpecialInterestGroups %}
                      <li>
                        <a href="{{ sig.url }}">{{ sig.name }} SIG</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
                <!-- <li><span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span> <a class="nav-link" href="javascript:;">Pages</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="faq.html">Faq's</a>
                    </li>
                    <li>
                      <a href="blog.html">Blog List</a>
                    </li>
                  </ul>
                </li> -->
                <li><a class="nav-link" href="/interop">Interoperability</a></li>
                <li>
                  <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span>
                  <a class="nav-link"> Services</a>
                  <ul class="sub-menu">
                    <li> Education resources </li>
                        <li>
                          <a href="/education">Education page</a>
                      </li>
                      <li>
                        <a href="/faq">Decentralized Identity FAQ</a>
                    </li>
                    <li> Universal Resolver </li>
                        <li>
                          <a href="https://resolver.identity.foundation/">Stable</a>
                        </li>
                        <li>
                          <a href="https://dev.uniresolver.io/">Experimental</a>
                        </li>
                        <li>
                          <a href="https://medium.com/decentralized-identity/the-universal-resolver-infrastructure-395281d2b540?source=friends_link&sk=306a37f289dcf61a89d19cd11f5be04e">more info... </a>
                        </li>

                      <li> Community services </li>
                      <li>
                        <a href="https://lists.identity.foundation/">Mailing Lists</a>
                    </li>
                    <li>Decentralized Web Nodes</li>
                      <li><a href="/dwn">DWN Community Node</a></li>

                  </ul>
                </li>
                <li><a class="nav-link" href="/events">Events</a></li>
                <li><a class="nav-link" href="/join">Join DIF</a></li>
                <li><a class="nav-link" href="https://blog.identity.foundation/">Blog</a></li>
                <li>
                  <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span>
                  <a class="nav-link" href="#governance">About</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="/governance/about">Governance</a>
                      </li>
                      <li>
                        <a href="/#contatus">Contact us</a>
                      </li>
                    </ul>
                </li>
                <li class="inline-nav-item"><a title="@DecentralizedID on Twitter" class="nav-link" href="https://twitter.com/DecentralizedID"><svg><use xlink:href="/images/icons.svg#twitter"></use></svg></a></li>
                <li class="inline-nav-item"><a title="GitHub Repos" class="nav-link" href="https://github.com/decentralized-identity"><svg><use xlink:href="/images/icons.svg#github"></use></svg></a></li>
                <li class="inline-nav-item"><a title="DIF Calendar" class="nav-link" href="https://bit.ly/dif-group-cal"><svg><use xlink:href="/images/icons.svg#calendar"></use></svg></a></li>
              </ul>
          </div>
        {% endif %}

      </div><!-- Container -->
    </nav>
  </header>
