
  <header>
    <nav class="navbar header-nav fixed-top navbar-expand-lg">
      <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/"><img src="/images/logo-white-small.png" /></a>
        <!-- / <span class="theme-bg"></span> -->
        {% block nav_replacement %}{% endblock %}
        {% if nav_empty == undefined %}
          <!-- Mobile Toggle -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <!-- / -->

          <!-- Top Menu -->
          <div class="collapse navbar-collapse justify-content-end" id="navbar">
              <ul class="navbar-nav">
                <li>
                  <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span>
                  <a class="nav-link" href="/#wgs">Work</a>
                  <ul class="sub-menu">
                    <li> Working groups</li>
                        <li>
                          <a href="/working-groups/identifiers-discovery.html">Identifiers and Discovery</a>
                        </li>
                        <li>
                          <a href="/working-groups/authentication.html">DID Authentication </a>
                        </li>
                        <li>
                          <a href="/working-groups/claims-credentials.html">Claims and Credentials</a>
                        </li>
                        <li>
                          <a href="/working-groups/did-comm.html">DID communication</a>
                        </li>
                        <li>
                          <a href="/working-groups/sidetree.html">Sidetree</a>
                        </li>
                        <li>
                          <a href="/working-groups/secure-data-storage.html">Secure Data Storage</a>
                        </li>
                        <li>
                          <a href="/working-groups/crypto.html">Applied Crypto </a>
                        </li>

                    <li> Open groups</li>
                    
                     <li>
                        <a href="https://identity.foundation/veramo-usergroup/">Veramo Usergroup</a>
                      </li>
                      <li>
                        <a href="https://identity.foundation/Hospitality-and-Travel-SIG">Hospitality and Travel SIG</a>
                      </li>
                       <li>
                        <a href="https://identity.foundation/SIG-IoT">IoT SIG</a>
                      </li>
                      <li>
                        <a href="https://identity.foundation/SIG-Africa">DIF Africa SIG</a>
                      </li>
                      <li>
                        <a href="https://identity.foundation/SIG-China">DIF China SIG</a>
                      </li>
                       <li>
                        <a href="https://identity.foundation/SIG-Japan">DIF Japan SIG</a>
                      </li>
                      <li>
                        <a href="https://identity.foundation/SIG-Korea">DIF Korea SIG</a>
                      </li>
                      <li>
                        <a href="https://identity.foundation/SIG-APAC">APAC/ASEAN community call</a>
                      </li>
                      <li>
                        <a href="https://www.notion.so/dif/Banking-and-Finance-SIG-b2d528af578d44699aeb742ed47b81d2">Banking and Finance SIG</a>
                      </li>
                      <li>
                        <a href="https://dif.groups.io/g/id-productmanagers">Product managers </a>
                      </li>
                    <li>Completed or archived</li>
                        <li>
                          <a href="/working-groups/keri.html">KERI WG</a>
                        </li>
                        <li>
                          <a href="/working-groups/storage-compute.html">Storage and Compute WG</a>
                        </li>
                        <li>
                          <a href="/working-groups/wallet-security.html">Wallet Security WG</a>
                        </li>
                        <li>
                        <a href="https://www.notion.so/dif/Healthcare-SIG-842bc686d12e4a508a951afc4d6df47d">Healthcare SIG</a>
                      </li>
                      <li>
                        <a href="/open-groups/glossary.html">Glossary Project </a>
                      </li>
                  </ul>
                </li>
                <!-- <li><span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span> <a class="nav-link" href="javascript:;">Pages</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="faq.html">Faq's</a>
                    </li>
                    <li>
                      <a href="blog.html">Blog List</a>
                    </li>
                  </ul>
                </li> -->
                <li><a class="nav-link" href="/interop">Interoperability</a></li>
                <li>
                  <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span>
                  <a class="nav-link"> Services</a>
                  <ul class="sub-menu">
                    <li> Education resources </li>
                        <li>
                          <a href="/education">Education page</a>
                      </li>
                      <li>
                        <a href="/faq">Decentralized Identity FAQ</a>
                    </li>
                    <li> Universal Resolver </li>
                        <li>
                          <a href="https://resolver.identity.foundation/">Stable</a>
                        </li>
                        <li>
                          <a href="https://dev.uniresolver.io/">Experimental</a>
                        </li>
                        <li>
                          <a href="https://medium.com/decentralized-identity/the-universal-resolver-infrastructure-395281d2b540?source=friends_link&sk=306a37f289dcf61a89d19cd11f5be04e">more info... </a>
                        </li>

                      <li> Community services </li>
                        <li>
                          <a href="/jobs">Jobs board</a>
                      </li>
                      <li>
                        <a href="https://lists.identity.foundation/">Mailing Lists</a>
                    </li>
                    <li>Decentralized Web Nodes</li>
                      <li><a href="/dwn">DWN Community Node</a></li>

                  </ul>
                </li>
                <li><a class="nav-link" href="/events">Events</a></li>
                <li><a class="nav-link" href="/join">Join DIF</a></li>
                <li><a class="nav-link" href="https://blog.identity.foundation/">Blog</a></li>
                <li>
                  <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span>
                  <a class="nav-link" href="#governance">About</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="/governance/about">Governance</a>
                      </li>
                      <li>
                        <a href="/#contatus">Contact us</a>
                      </li>
                    </ul>
                </li>
                <li class="inline-nav-item"><a title="@DecentralizedID on Twitter" class="nav-link" href="https://twitter.com/DecentralizedID"><svg><use xlink:href="/images/icons.svg#twitter"></use></svg></a></li>
                <li class="inline-nav-item"><a title="GitHub Repos" class="nav-link" href="https://github.com/decentralized-identity"><svg><use xlink:href="/images/icons.svg#github"></use></svg></a></li>
                <li class="inline-nav-item"><a title="DIF Calendar" class="nav-link" href="https://bit.ly/dif-calendar"><svg><use xlink:href="/images/icons.svg#calendar"></use></svg></a></li>
              </ul>
          </div>
        {% endif %}

      </div><!-- Container -->
    </nav>
  </header>
