<!-- Debug info: repoTag = {{ repoTag }} -->
{% if repos and repoTag and repos[repoTag] %}
  <div class="col-10 col-md-8 col-lg-6 m-30px-t margin-center">
    <div class="section-title text-center">
      <h5 style="text-align: center; margin: 2em 0 0;">All Repositories ({{ repos[repoTag].length }})</h5>
      <div class="title-border">
        <span class="lg"></span>
        <span class="md"></span>
        <span class="sm"></span>
      </div>
    </div>
    {% for repo in repos[repoTag] %}
      <a class="icon-link" href="{{ repo.html_url }}" style="display: block; margin-bottom: 1em;">
        <strong>{{ repo.name }}</strong>
        <div style="font-size: 85%; color: #777;">{{ repo.description }}</div>
      </a>
    {% endfor %}
  </div>
{% else %}
  <!-- No repositories found for tag: {{ repoTag }} -->
{% endif %}