<section class="counter-section">
  <div class="container">
    <div class="row justify-content-center m-45px-b md-m-20px-b sm-m-15px-b">
      <div class="col-12 col-md-10 col-lg-10">
        <div class="section-title text-center">
          <h2 class="font-alt">Scope of Work</h2>
          <div class="title-border">
            <span class="lg"></span><span class="md"></span><span class="sm"></span>
          </div>
          <p>{{ scope }}</p>
        </div>
      </div>
      {% include "partials/charter_links.html.njk" %} 

      {% include "partials/meeting-info-card.html.njk" %}

    </div>
  </div>
</section> 