::selection {
  background-color:#009efd;
  color: #fff;
}
::-moz-selection {
  background-color:#009efd;
  color: #fff;
}



.m-btn-t-theme,
.blog-item .blog-content h4 a:hover,
.theme-color {
  color:#009efd;
}


.form-group .input-focus-effect,
.m-btn-t-theme:hover,
.theme-after-bg:after,
.btn-theme,
.theme-bg {
  background:#009efd;
}

.m-btn-t-theme,
.border-theme,
.btn-theme {
  border-color:#009efd;
}

.tab-style-1 .nav .nav-item a.active,
.owl-dots .owl-dot.active,
.m-btn-theme, 
.title-section h2:after,
.theme-before:before,
.theme-after:after,
.theme-hover:hover,
.theme-g-bg{
  background: #2af598;
  background: -webkit-linear-gradient(to right, #009efd, #2af598);
  background: linear-gradient(to right, #009efd, #2af598);
}


/*Reverce*/
.about-text li:hover i,
.m-btn-theme:hover{
  background: #009efd;
  background: -webkit-linear-gradient(to right, #2af598, #009efd);
  background: linear-gradient(to right, #2af598, #009efd);
}


@media (max-width: 991px){
  .header {
    background:#009efd;
  }
}