::selection {
  background-color:#4745e4;
  color: #fff;
}
::-moz-selection {
  background-color:#4745e4;
  color: #fff;
}



.m-btn-t-theme,
.blog-item .blog-content h4 a:hover,
.theme-color {
  color:#4745e4;
}


.form-group .input-focus-effect,
.m-btn-t-theme:hover,
.theme-after-bg:after,
.btn-theme,
.theme-bg {
  background:#1e6fb0;
}

.m-btn-t-theme,
.border-theme,
.btn-theme {
  border-color:#4745e4;
}

.tab-style-1 .nav .nav-item a.active,
.owl-dots .owl-dot.active,
.m-btn-theme, 
.title-section h2:after,
.theme-before:before,
.theme-after:after,
.theme-hover:hover,
.theme-g-bg{
	background: #18cff5;
  background: -webkit-linear-gradient(to right, #4745e4, #18cff5);
  background: linear-gradient(to right, #4745e4, #18cff5);
}


/*Reverce*/
.about-text li:hover i,
.m-btn-theme:hover{
	background: #4745e4;
  background: -webkit-linear-gradient(to right, #18cff5, #4745e4);
  background: linear-gradient(to right, #18cff5, #4745e4);
}


@media (max-width: 991px){
  .header {
    background:#4745e4;
  }
}