{% set title = 'Identifiers, Names, and Discovery Working Group' %}
{% extends "base.html" %}

{% block content %}
  <section class="page-title theme-bg">
    <div class="container">
      <svg><use xlink:href="#user_graph"></use></svg>
      <h1>Identifiers, Names, and Discovery</h1>
      <h3>Working Group</h3>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
          <div class="section-title text-center">
            <h2 class="font-alt">Scope of Work</h2>
            <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
            <p>
              Members of the Working Group are engaged in development of protocols and systems that enable creation, resolution, and discovery of decentralized identifiers and names across underlying decentralized systems, like blockchains and distributed ledgers.
            </p>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="counter-section gray-bg">
    <div class="container">
      <div class="counter-row">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="section-title text-center">
              <h2 class="font-alt">Specs &amp; Projects</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>The active work items that are underway in the DIF Storage and Compute Working Group</p>
            </div>
          </div> 
          <div class="col-10 col-md-8 col-lg-6 m-30px-t">
            <dl>
              <dt>Universal Resolver</dt>
              <dd>
                <p>Spec and implementations for a driver-based package that enables resolution of DID metadata across systems.</p>
                <a class="icon-link" href="https://raw.githubusercontent.com/decentralized-identity/universal-resolver/master/docs/figures/architecture.png">System Overview</a>
                <a class="icon-link" href="https://github.com/decentralized-identity/universal-resolver/blob/master/docs/architecture-drivers.md">Explainer</a>
                <a class="icon-link" href="https://github.com/decentralized-identity/universal-resolver">Repo</a>
              </dd>
              <dt>Sidetree Protocol</dt>
              <dd>
                <p>Spec, docs, and implementations for the chain/ledger-agnostic DID scaling protocol.</p>
                <a class="icon-link" href="https://raw.githubusercontent.com/decentralized-identity/sidetree-core/master/docs/diagrams/architecture.png">Component Overview</a>
                <a class="icon-link" href="https://github.com/decentralized-identity/sidetree-core/blob/master/docs/protocol.md">Explainer</a>
                <a class="icon-link" href="https://github.com/decentralized-identity/sidetree-core">Main Repo</a>
                <a class="icon-link" href="https://github.com/decentralized-identity/sidetree-ipfs">IPFS Service Component</a>
                <a class="icon-link" href="https://github.com/decentralized-identity/sidetree-bitcoin">Bitcoin Adapter</a>
              </dd>
            </dl>
          </div>
        </div>
        <!-- row -->
      </div>
    </div>
    <!-- container -->
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center m-45px-b md-m-20px-b sm-m-15px-b">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="section-title text-center">
            <h2 class="font-alt">Chairs</h2>
            <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
            <p>The following DIF members lead the work in this group, contact them for more info on the projects, specs, and development happening within.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-10 col-md-6 col-lg-4 m-15px-tb">
          <div class="our-team">
            <div class="img">
              <img src="/images/photos/drummond-reed.jpg" />
            </div>
            <div class="info">
              <h6>Drummond Reed</h6>
              <label>Chief Trust Officer @ Evernym</label>
            </div>
            <ul class="social-icons">
              <li><a class="linkedin" href="https://www.linkedin.com/in/drummondreed/"><svg><use xlink:href="#linkedin"></use></svg></a></li>
              <li><a class="twitter" href="https://twitter.com/csuwildcat"><svg><use xlink:href="#twitter"></use></svg></a></li>
            </ul>
          </div>
        </div> <!-- col -->

        <div class="col-10 col-md-6 col-lg-4 m-15px-tb">
          <div class="our-team">
            <div class="img">
              <img src="/images/photos/jude-nelson.jpg" />
            </div>
            <div class="info">
              <h6>Jude Nelson</h6>
              <label>Engineering Partner @ Blockstack</label>
            </div>
            <ul class="social-icons">
              <li><a class="linkedin" href="https://www.linkedin.com/in/jude-nelson-a3181b4a/"><svg><use xlink:href="#linkedin"></use></svg></a></li>
              <li><a class="twitter" href="https://twitter.com/judecnelson"><svg><use xlink:href="#twitter"></use></svg></a></li>
            </ul>
          </div>
        </div> <!-- col -->

      </div>
    </div>
  </section>
{% endblock %}