
{% extends "default.html" %}

{% block content %}
    <section id="home" class="home-banner theme-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col col-md-10 col-lg-7 col-xl-6 p-80px-tb md-p-30px-b sm-p-70px-t">
            <div class="home-text-center theme-after m-50px-t">
              <h1 class="font-alt">Together we're building a new identity ecosystem</h1>
              <p>Join us in developing the foundational components of an open, standards-based, decentralized identity ecosystem for people, organizations, apps, and devices.</p>
              <div class="app-btn-set">
                <a href="#contatus" class="m-btn m-btn-white" data-text="Join the Decentralized Identity Foundation">Become a Member</a>
              </div>

            </div> <!-- home-text-center -->
          </div> <!-- col -->
          <div class="col-md-12 col-lg-5 col-xl-6 home-right">
              <img src="/images/network-globe.png" title="" alt="">
          </div>
        </div>
      </div><!-- container -->
    </section>
    <!-- Home Banner End -->

    <section id="mailing_list">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="section-title text-center">
            <h5><svg color="dark-blue"><use xlink:href="#newsletter"></use></svg> <span>DIF Monthly Newsletter</span></h5>
            <form id="newsletter_form" class="validate" method="post">
              <div class="form-group">
                <input type="email" value="" name="entry.1674911602" class="form-control" placeholder="Email address" class="validate form-control" required="">
                <span class="input-focus-effect"></span>
              </div>
              <button class="m-btn m-btn-t-dark" type="submit" value="Subscribe">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </section>

     <!-- About Start -->
    <section id="about" class="section p-50px-b sm-p-0px-b about-section style-section">
      <div class="container">
        <div class="row justify-content-center m-45px-b md-m-20px-b sm-m-15px-b">
          <div class="col-12 col-md-10 col-lg-7">
            <div class="section-title text-center">
              <h2 class="font-alt">Our Focus</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>DIF is an engineering-driven organization focused on developing the foundational elements necessary to establish an open ecosystem for decentralized identity and ensure interop between all participants.</p>
            </div>
          </div>
        </div> <!-- row -->

        <div class="row">
          <div class="col-12 col-md-4 ">
            <div class="feature-box-01  sm-m-15px-t">
              <svg><use xlink:href="#sketching"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Technical Specifications</h5>
                <p>Groups in DIF develop specifications and emerging standards for protocols, components, and data formats that implementers can execute against.</p>
              </div>
            </div> <!-- feature-box-01 -->
          </div> <!-- col -->
          <div class="col-12 col-md-4">
            <div class="feature-box-01 sm-m-0px-t">
              <svg><use xlink:href="#command_line"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Reference Implementations</h5>
                <p>Beyond specifications, DIF members develop open source reference implementations of the technical components and protocols they create.</p>
              </div>
            </div> <!-- feature-box-01 -->
          </div> <!-- col -->

          <div class="col-12 col-md-4">
            <div class="feature-box-01">
              <svg><use xlink:href="#biz_discussion"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Industry Coordination</h5>
                <p>As the leading industry organization in the Decentralized Identity space, DIF seeks to align industry participants to advance their common interests.</p>
              </div>
            </div> <!-- feature-box-02 -->
          </div> <!-- col -->

        </div>

      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Feature -->
    <section id="wgs" class="wgs section p-30px-t">
      <div class="container">
		    <div class="row justify-content-center m-35px-b md-m-20px-b sm-m-15px-b">
          <div class="col-12 col-lg-9">
            <div class="section-title text-center">
              <h2 class="font-alt">Working Groups</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>As an engineering-driven development-focused organization, our Working Groups are at the core of everything we do. Our Working Groups are scoped by functional areas, and are designed to drive emerging standard specifications backed up by open source code.</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="wg-icon col-md-3 text-center">
            <svg><use xlink:href="#user_graph"></use></svg>
          </div> <!-- col -->
          <div class="col-md-7 sm-m-30px-b">
            <div class="feature-box-03">
              <h4 class="font-alt">Identifiers and Discovery</h4>
              <p>A key piece of the decentralized identity equation is how people, organizations, and devices can be identified and located without centralized systems of identifiers (e.g. email addresses). DIF members are actively working on protocols and implementations that enable creation, resolution, and discovery of decentralized identifiers and names across decentralized systems, like blockchains and distributed ledgers.</p>
              <a href="/working-groups/identifiers-names-discovery.html" class="m-btn m-btn-t-dark">Learn More</a>
            </div>
          </div> <!-- col -->
          
        </div> <!-- row -->

      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Feature -->
    <section class="wgs section">
    	<div class="container">
	        <div class="row justify-content-center">
            <div class="wg-icon col-md-3 text-center">
              <svg><use xlink:href="#network"></use></svg>
            </div> <!-- col -->
	          <div class="col-md-7 order-md-2 sm-m-30px-b">
	            <div class="feature-box-03">
	              	<h4 class="font-alt">Storage and Compute</h4>
	              	<p>Secure, encrypted, privacy-preserving storage and computation of data is a critical component of decentralized identity systems. As with identifiers and names must be self-sovereign to the owning entity, a user's identity data must remain private, only accessible to the entities they allow. DIF members are actively developing specs and reference implementations for provider-agnostic, run-anywhere solutions that provides these features.</p>
	              	<a href="/working-groups/storage-compute.html" class="m-btn m-btn-t-dark">Learn More</a>
	            </div>
	          </div> <!-- col -->
	        </div> <!-- row -->
        </div>
    </section>
    <!-- / -->

    <section class="wgs section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="wg-icon col-md-3 text-center">
            <svg><use xlink:href="#login_screen"></use></svg>
          </div> <!-- col -->
          <div class="col-md-7 sm-m-30px-b">
            <div class="feature-box-03">
              <h4 class="font-alt">Authentication</h4>
              <p>Designing and implementing DID-based authentication specs, standards, and libraries used in authenticating DIDs across a wide variety of exchanges and use cases.</p>
              <a href="/working-groups/authentication.html" class="m-btn m-btn-t-dark">Learn More</a>
            </div>
          </div> <!-- col -->
        </div> <!-- row -->

      </div> <!-- container -->
    </section>

    <!-- Feature -->
    <section id="feature" class="wgs section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="wg-icon col-md-3 text-center">
            <svg><use xlink:href="#validate_user"></use></svg>
          </div> <!-- col -->
          <div class="col-md-7 sm-m-30px-b">
            <div class="feature-box-03">
              <h4 class="font-alt">Claims and Credentials</h4>
              <p>The ability to verify the claims and assertions of identities is key in establishing trust among entities on a decentralized system that lacks a centralized hierarchy. DIF has recently begun work on defining the specs, protocols, and tools it can provide to the ecosystem to help ecosystem participants and their customers easily integrate DID-signed claims into their apps and services.</p>
              <a href="/working-groups/claims-credentials.html" class="m-btn m-btn-t-dark">Learn More</a>
            </div>
          </div> <!-- col -->
        </div> <!-- row -->

      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Members -->
    <section id="members" class="section member-section gray-bg">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="section-title text-center">
              <h2 class="font-alt">Members</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>DIF represents a diverse, international collection of organizations and contributors working together to establish an open ecosystem of decentralized identity that is accessible to all.</p>
            </div>
          </div>
        </div>
        
        <div class="member-list">
          <img src="/images/logos/uport.png" />
          <img src="/images/logos/blockstack.svg" />
          <img src="/images/logos/sovrin.png" />
          <img src="/images/logos/microsoft.png" />
          <img src="/images/logos/ibm.png" />
          <img src="/images/logos/learning-machine.png" />
          <img src="/images/logos/hyperledger.png" />
          <img src="/images/logos/tierion.png" />
          <img src="/images/logos/civic.png" />
          <img src="/images/logos/bc.png" />
          <img src="/images/logos/accenture.png" />
          <img src="/images/logos/danube.png" />
          <img src="/images/logos/rsa.png" />
          <img src="/images/logos/evernym.png" />
          <img src="/images/logos/mooti.png" />
          <img src="/images/logos/aetna.png" />
          <img src="/images/logos/r3.png" />
          <img src="/images/logos/authenteq.png" />
          <img src="/images/logos/bcf.png" />
          <img src="/images/logos/validatedid.png" />
          <img src="/images/logos/equinix.png" />
          <img src="/images/logos/taqanu.png" />
          <img src="/images/logos/kyc.png" />
          <img src="/images/logos/blockpass.png" />
          <img src="/images/logos/nuid.png" />
          <img src="/images/logos/metax.png" />
          <img src="/images/logos/gs1.png" />
          <img src="/images/logos/diid.png" />
          <img src="/images/logos/nuggets.png" />
          <img src="/images/logos/trustedkey.png" />
          <img src="/images/logos/zinc.png" />
          <img src="/images/logos/ont.png" />
          <img src="/images/logos/mastercard.png" />
          <img src="/images/logos/link-e.png" />
          <img src="/images/logos/id2020.jpg" />
          <img src="/images/logos/veridium.png" />
          <img src="/images/logos/meeco.png" />
          <img src="/images/logos/pillar.png" />
          <img src="/images/logos/humanized-internet.png" />
          <img src="/images/logos/jolocom.png" />
          <img src="/images/logos/tai.png" />
          <img src="/images/logos/onfido.png" />
          <img src="/images/logos/auth0.png" />
          <img src="/images/logos/1kosmos.png" />
          <img src="/images/logos/gamecredits.png" />
          <img src="/images/logos/secure-key.png" />
          <img src="/images/logos/wymsical.png" />
          <img src="/images/logos/lifeid.png" />
          <img src="/images/logos/centinal.png" />
          <img src="/images/logos/identos.png" />
          <img src="/images/logos/diwala.png" />
          <img src="/images/logos/juru.png" />
          <img src="/images/logos/botlabs.png" />
          <img src="/images/logos/eea.png" />
          <img src="/images/logos/remme.png" />
          <img src="/images/logos/transmute.svg" />
          <img src="/images/logos/finema.png" />
          <img src="/images/logos/gataca.png" />
          <img src="/images/logos/webank.png" />
          <img src="/images/logos/cambridge-blockchain.png" />
          <img src="/images/logos/unify.jpg" />
          <img src="/images/logos/truu.png" />
          <img src="/images/logos/bytom.png" />
          <img src="/images/logos/nec.png" />
          <img src="/images/logos/metadium.png" />
          <img src="/images/logos/workday.png" />
          <img src="/images/logos/drep.png" /> 
          <img src="/images/logos/elastos.png" /> 
          <img src="/images/logos/arcblock.png" />
          <img src="/images/logos/zerna.png" />
          <img src="/images/logos/neo.png" />
          <img src="/images/logos/mattr.png" />
		<img src="/images/logos/iohk.png" />
          <img src="/images/logos/idworks.png" />
          <img src="/images/logos/bloom.png" />
          <img src="/images/logos/keyless.svg" />
          <img src="/images/logos/cartan.png" />
          <img src="/images/logos/0kims.png" />
          <img src="/images/logos/raon.png" />
		<img src="/images/logos/nextid.png" />
		<img src="/images/logos/Polymath.png" />
		<img src="/images/logos/condatis.png" />
		<img src="/images/logos/spherity.png" />
		<img src="/images/logos/culedger.png" />
		<img src="/images/logos/teleinfo.png" />
		<img src="/images/logos/glacier_blockchain.png" />
		<img src="/images/logos/wym_logo.png" />
		<img src="/images/logos/streetcred.png" />

        </div>
      </div>
    </section>

    <section id="blog" class="section blog-section">
      <div class="container">
        <div class="row justify-content-center m-50px-b md-m-10px-b">
          <div class="col-12 col-md-10 col-lg-7">
            <div class="section-title text-center">
              <h2 class="font-alt">News &amp; Insights</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>News about our work and insights from our members on their efforts to build the decentralized identity ecosystem.</p>
            </div>
          </div>
        </div>

        <div id="blog_posts" class="row">
          <div class="spinner"><span></span></div>
        </div>
      </div> <!-- container -->
    </section>
    <!-- Blog End -->

    <!-- Contact Start -->
    <section id="contatus" class="section gray-bg">
      <div class="container">
      	<div class="row justify-content-center m-50px-b md-m-25px-b">
          <div class="col-10">
            <div class="section-title text-center">
              <h2 class="font-alt">Get In Touch</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>If you're an organization interested in developing industry standards and open source technical components with us, or a member of the press looking for more information on our efforts, drop us a line below.</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
        		<div class="contact-form col-10 col-lg-8">
                <form id="inquiry_form" class="contactform" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="name" name="entry.76121140" type="text" placeholder="Organization" class="validate form-control" required>
                        <span class="input-focus-effect"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="email" type="email" placeholder="Email" name="entry.286710955" class="validate form-control" required>
                        <span class="input-focus-effect"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="inquiry_type_radios">Interested in:</label>
                        <select class="form-control" id="inquiry_type_radios" name="entry.1501664113" required>
                          <option value="membership">Membership</option>
                          <option value="subscribe">News &amp; Updates</option>
                          <option value="press">Press</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="send">
                          <button class="m-btn m-btn-t-dark" type="submit" name="send"> Send</button>
                      </div>
                      <span class="output_message"></span>
                    </div>
                  </div>
                </form>
        	</div>
        </div>
      </div> <!-- Container -->
    </section>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="/js/index.js"></script>
{% endblock %}
