
{% extends "default.html.njk" %}

{% block content %}

    <!-- render check -->
    <section id="home" class="home-banner theme-bg">
      <div class="container">
        <div class="row align-items-top">
          <div class="col col-md-6 col-lg-7 col-xl-6 p-80px-tb md-p-30px-b sm-p-70px-t">
            <div class="home-text-left theme-after ">
              <h1 class="font-alt">Together we're building a new identity ecosystem</h1>
              <p>Join us in developing the foundational components of an open, standards-based, decentralized identity ecosystem for people, organizations, apps, and devices.</p>
              <div class="app-btn-set">
                <a href="/join/" class="m-btn m-btn-white" data-text="Join the Decentralized Identity Foundation">Become a Member</a>
              </div>
            </div> <!-- home-text-center -->
          </div> <!-- col -->
          <div class="col-md-6 home-right">
            <img src="/images/network-globe.png" title="DIF" alt="DIF">
        </div>
        </div>
        <br>
        <br>
      </div><!-- container -->
    </section>
    <!-- Home Banner End -->

    <section id="mailing_list">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="section-title text-center">
            <h5><svg color="dark-blue"><use xlink:href="images/icons.svg#newsletter"></use></svg> <span>DIF Monthly Newsletter</span></h5>
            <form id="newsletter_form" class="validate" method="post">
              <div class="form-group">
                <input type="email" value="" name="entry.1674911602" class="form-control" placeholder="Email address" class="validate form-control" required="">
                <span class="input-focus-effect"></span>
              </div>
              <button class="m-btn m-btn-t-dark" type="submit" value="Subscribe">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </section>

     <!-- About Start -->
    <section id="about" class="section p-50px-b sm-p-0px-b about-section style-section">
      <div class="container">
        <div class="row justify-content-center m-45px-b md-m-20px-b sm-m-15px-b">
          <div class="col-12 col-md-10 col-lg-7">
            <div class="section-title text-center">
              <h2 class="font-alt">Our Focus</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>DIF is an engineering-driven organization focused on developing the foundational elements necessary to establish an open ecosystem for decentralized identity and ensure interop between all participants.</p>
            </div>
          </div>
        </div> <!-- row -->

        <div class="row">
          <div class="col-12 col-md-4 ">
            <div class="feature-box-01  sm-m-15px-t">
              <svg><use xlink:href="images/icons.svg#sketching"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Technical Specifications</h5>
                <p>Groups in DIF develop specifications and emerging standards for protocols, components, and data formats that implementers can execute against.</p>
              </div>
            </div> <!-- feature-box-01 -->
          </div> <!-- col -->
          <div class="col-12 col-md-4">
            <div class="feature-box-01 sm-m-0px-t">
              <svg><use xlink:href="images/icons.svg#command_line"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Reference Implementations</h5>
                <p>Beyond specifications, DIF members develop open source reference implementations of the technical components and protocols they create.</p>
              </div>
            </div> <!-- feature-box-01 -->
          </div> <!-- col -->

          <div class="col-12 col-md-4">
            <div class="feature-box-01">
              <svg><use xlink:href="images/icons.svg#biz_discussion"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Industry Coordination</h5>
                <p>As the leading industry organization in the Decentralized Identity space, DIF seeks to align industry participants to advance their common interests.</p>
              </div>
            </div> <!-- feature-box-02 -->
          </div> <!-- col -->

        </div>

      </div> <!-- container -->
    </section>
    <!-- / -->










    <!-- About Start -->
    <section id="about" class="section p-50px-b sm-p-0px-b about-section style-section">
      <div class="container">
		    <div class="row justify-content-center m-35px-b md-m-20px-b sm-m-15px-b">
          <div class="col-12 col-lg-9">
            <div class="section-title text-center">
              <h2 class="font-alt">Working Groups</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>As an engineering-driven development-focused organization, our Working Groups are at the core of everything we do. Our Working Groups are scoped by functional areas, and are designed to drive emerging standard specifications backed up by open source code.</p>
            </div>
          </div>

        </div> <!-- row -->

        <div class="row">
          <div class="col-12 col-md-4 ">
            <div class="feature-box-01  sm-m-15px-t">
              <svg><use xlink:href="images/icons.svg#user_graph"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Identifiers & Discovery </h5>
                <p>A key piece of the decentralized identity equation is how people, organizations, and devices can be identified and located without centralized systems of identifiers (e.g. email addresses). DIF members are actively working on protocols and implementations that enable creation, resolution, and discovery of decentralized identifiers and names across decentralized systems, like blockchains and distributed ledgers.</p>
                <a href="/working-groups/identifiers-discovery.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div>
            </div> <!-- feature-box-01 -->

          </div> <!-- col -->
          <div class="col-12 col-md-4">
            <div class="feature-box-01 sm-m-0px-t">
              <svg><use xlink:href="images/icons.svg#login_screen"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">DID Authentication</h5>
                <p>Design, recommend and implement authentication and authorization protocols that rely
                  upon open standards and cryptographic protocols using DIDs and DID Documents.
                  Recommendations and development of specifications, protocols, and formats for data structures used for authentication and
                  authorization. </p>
                <a href="/working-groups/authentication.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div>
            </div> <!-- feature-box-02 -->
          </div> <!-- col -->

          <div class="col-12 col-md-4">
            <div class="feature-box-01">
              <svg><use xlink:href="images/icons.svg#validate_user"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Claims & Credentials</h5>
                <p>The ability to verify the claims and assertions of identities is key in establishing trust among entities on a decentralized system that lacks a centralized hierarchy. DIF has recently begun work on defining the specs, protocols, and tools it can provide to the ecosystem to help ecosystem participants and their customers easily integrate DID-signed claims into their apps and services.</p>
                <a href="/working-groups/claims-credentials.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div>
            </div> <!-- feature-box-03 -->
          </div> <!-- col -->
        </div> <!-- row -->


        <div class="row">
          <div class="col-12 col-md-4 ">
            <div class="feature-box-01  sm-m-15px-t">
              <svg><use xlink:href="images/icons.svg#communicate_user"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">DID Communication </h5>
                <p>  Produce one or more high-quality specs that embody a method (“DIDComm”) for secure, private and (where
                  applicable) authenticated message-based communication, where trust is rooted in DIDs and depends on the messages
                  themselves, not on the external properties of the transport(s) used. </p>
                <a href="/working-groups/did-comm.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div>
            </div> <!-- feature-box-01 -->

          </div> <!-- col -->
          <div class="col-12 col-md-4">
            <div class="feature-box-01 sm-m-0px-t">
              <svg><use xlink:href="images/icons.svg#sidetree"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Sidetree</h5>
                <p>The development and maintenance of the formal Sidetree specification, 
                  and a hub of coordination for Sidetree-based DID Method node operators. 
                  This group also generates libraries, tooling, and documentation to 
                  aid Sidetree-based DID Method node operators.</p>
                <a href="/working-groups/sidetree.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div>
            </div> <!-- feature-box-02 -->
          </div> <!-- col -->

          <div class="col-12 col-md-4">
            <div class="feature-box-01">
              <svg><use xlink:href="images/icons.svg#box"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Secure Data Storage</h5>
                <p>Create one or more specifications to establish a foundational layer for secure data storage (including personal data), specifically
              data models for storage and transport, syntax, data at rest protection, CRUD API, access control, synchronization, and at least a
              minimum viable HTTP-based interface compatible with W3C DIDs/VCs.</p>
                <a href="/working-groups/secure-data-storage.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div>
            </div> <!-- feature-box-03 -->
          </div> <!-- col -->
        </div> <!-- row -->

        
        <div class="row">
          <!--<div class="col-12 col-md-4 ">
             <div class="feature-box-01  sm-m-15px-t">
              <svg><use xlink:href="images/icons.svg#key"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">KERI</h5>
                <p>Members of the Working Group are primarily working to specify and prototype a Key Event Receipt Infrastructure. Data models, event models, protocols, and functional components
                  necessary to handle structured data about key events in a way that delivers on KERI’s functional guarantees. Compliant implementations of KERI core specification and reference implementations of some supporting
                  KERI services and APIs</p>
                  <a href="/working-groups/keri.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div> 
            </div>
          </div> -->
          <div class="col-12 col-md-6">
            <div class="feature-box-01">
              <svg><use xlink:href="images/icons.svg#wallet"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Wallet Security</h5>
                <p>Define a common terminology for understanding the security requirements applicable to wallet architectures and wallet-to-wallet and wallet-to-issuer/verifier protocols. Classify, specify and describe security architectures common to wallets( risks, motivation, etc..)
                Produce guidelines for how to classify and specify the security capabilities of verifiable-credential wallets such as key management, credential storage, device-binding, credential exchange, backup, recovery, and portability of wallets.</p>
                <a href="/working-groups/wallet-security.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div>
            </div> <!-- feature-box-02 -->
          </div> <!-- col -->
          <div class="col-12 col-md-6">
            <div class="feature-box-01">
              <svg><use xlink:href="images/icons.svg#crypto"></use></svg>
              <div class="feature-content">
                <h5 class="font-alt">Applied Crypto</h5>
                <p>The Applied Crypto Working Group will explore cryptographic protocols and primitives related to Decentralized Identities. Including, but not limited to, specific and actual cryptographic topics, such as BBS+ signatures,  revocation strategies, as well as signature suites and encryption.
                  The working group will define focus topics, create cryptographic protocols, and choose the underlying cryptographic primitives for them.</p>
                <a href="/working-groups/crypto.html" class="m-btn m-btn-t-dark">Learn More</a>
              </div>
            </div> <!-- feature-box-03 -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
    <!-- / -->


    <!-- Members -->
    <section id="members" class="section member-section gray-bg">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="section-title text-center">
              <h2 class="font-alt">Members</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>DIF represents a diverse, international collection of organizations and contributors working together to establish an open ecosystem of decentralized identity that is accessible to all.</p>
            </div>
          </div>
        </div>

        <div class="member-list">
          <a href="https://mesh.xyz"><img alt="Consensys Mesh" title="Consensys Mesh" src="/images/logos/consensys.png"></a>
          <a href="https://hiro.so"><img alt="Blockstack/Hiro" title="Blockstack/Hiro" src="/images/logos/blockstack.svg"></a>
          <a href="https://microsoft.com"><img alt="Microsoft" title="Microsoft" src="/images/logos/microsoft.png"></a>
          <!-- <img src="/images/logos/hyperledger.png" /> -->
          <a href="https://civic.com"><img alt="civic" title="civic" src="/images/logos/civic.png"></a>
          <img src="/images/logos/bc.png" />
          <a href="https://danubetech.com"><img alt="Danube Tech" title="Danube Tech" src="/images/logos/danube.png"></a>
          <!-- <img src="/images/logos/danube.png" /> -->
          <a href="https://blockchainfoundry.com"><img alt="Blockchain Foundry" title="Blockchain Foundry" src="/images/logos/bcf.png"></a>
          <a href="https://validatedid.com"><img alt="Validated ID" title="Validated ID" src="/images/logos/validatedid.png"></a>
          <a href="https://taqanu.com"><img alt="Taqanu" title="Taqanu" src="/images/logos/taqanu.png"></a>
          <a href="https://blockpass.org"><img alt="Blockpass" title="Blockpass" src="/images/logos/blockpass.png"></a>
          <a href="https://nuid.io"><img alt="NuID" title="NuID" src="/images/logos/nuid.png"></a>
          <a href="https://gs1us.org"><img alt="GS1" title="GS1" src="/images/logos/gs1.png"></a>
          <a href="https://nuggets.life"><img alt="nuggets" title="nuggets" src="/images/logos/nuggets.png"></a>
          <a href="https://ceramic.network"><img alt="ceramic" title="ceramic" src="/images/logos/ceramic-network.png"></a>
          <a href="https://hedera.com"><img alt="Hedera" title="Hedera" src="/images/logos/hedera.png"></a>
          <a href="https://thehumanizedinternet.com"><img alt="The Humanized Internet" title="The Humanized Internet" src="/images/logos/humanized-internet.png"></a>
          <a href="https://jolocom.io"><img alt="Jolocom" title="Jolocom" src="/images/logos/jolocom.png"></a>
          <!-- <img src="/images/logos/tai.png" /> -->
          <a href="https://auth0.com"><img alt="Auth0" title="Auth0" src="/images/logos/auth0.png"></a>
          <a href="https://gendigital.com"><img alt="Gen Digital" title="Gen Digital" src="/images/logos/gen.png"></a>
          <!-- <a href="https://avast.com"><img alt="Avast" title="Avast" src="/images/logos/avast.png"></a> -->
          <a href="https://diwala.io"><img alt="Diwala" title="Diwala" src="/images/logos/diwala.png"></a>
          <a href="https://botlabs.org"><img alt="BOTLabs (KILT)" title="BOTLabs GMBH (KILT)" src="/images/logos/botlabs.png"></a>
          <a href="https://entethalliance.org"><img alt="Enterprise Ethereum Alliance" title="Enterprise Ethereum Alliance" src="/images/logos/eea.png"></a>
          <a href="https://transmute.industries"><img alt="Transmute" title="Transmute" src="/images/logos/transmute.svg"></a>
          <a href="https://finema.co"><img alt="Finema" title="Finema" src="/images/logos/finema.png"></a>
          <a href="https://webank.com"><img alt="WeBank" title="WeBank" src="/images/logos/webank.png"></a>
          <a href="https://unifysolutions.net"><img alt="UNIFY Solutions" title="UNIFY Solutions" src="/images/logos/unify.jpg"></a>
          <a href="https://metadium.com"><img alt="Metadium" title="Metadium" src="/images/logos/metadium.png"></a>
          <a href="https://arcblock.io"><img alt="ArcBlock" title="ArcBlock" src="/images/logos/arcblock.png"></a>
          <a href="https://mattr.global"><img alt="Mattr" title="Mattr" src="/images/logos/mattr.png"></a>
          <a href="https://iohk.io"><img alt="Input Output" title="Input Output" src="/images/logos/iohk.png"></a>
          <a href="https://keyless.io"><img alt="Keyless" title="Keyless" src="/images/logos/keyless.svg"></a>
          <a href="https://iden3.io"><img alt="iden3" title="iden3" src="/images/logos/0kims.png"></a>
          <a href="https://condatis.com"><img alt="Condatis" title="Condatis" src="/images/logos/condatis.png"></a>
          <!-- <a href="https://spherity.com"><img alt="Spherity" title="Spherity" src="/images/logos/spherity.png"></a> -->
          <a href="https://bonifii.com"><img alt="CU Ledger" title="CU Ledger" src="/images/logos/culedger.png"></a>
          <a href="https://teleinfo.cn"><img alt="Beijing Teleinfo Technology" title="Beijing Teleinfo Technology" src="/images/logos/teleinfo.png"></a>
          <img title="Glacier Blockchain" src="/images/logos/glacier_blockchain.png" />
          <a href="https://trinsic.id"><img alt="Trinsic" title="Trinsic" src="/images/logos/trinsic.png"></a>
          <a href="https://onespan.com"><img alt="OneSpan" title="OneSpan" src="/images/logos/onespan.png"></a>
          <a href="https://anonyome.com"><img alt="Anonyome Labs" title="Anonyome Labs" src="/images/logos/anonymelabs.png"></a>
          <a href="https://neosfer.de"><img alt="Neosfer" title="Neosfer" src="/images/logos/neosfer.png"></a>
          <a href="https://collabogate.com"><img alt="CollaboGate" title="CollaboGate" src="/images/logos/collabogate.png"></a>
          <a href="https://qikfox.com"><img alt="Qikfox" title="Qikfox" src="/images/logos/qikfox.png"></a>
          <a href="https://sphereon.com"><img alt="Sphereon" title="Sphereon" src="/images/logos/sphereon.png"></a>
          <a href="https://spruceid.dev"><img alt="Spruce ID" title="Spruce ID" src="/images/logos/spruce.png"></a>
          <a href="https://infrablockchain.net"><img alt="Infra Blockchain" title="Infra Blockchain" src="/images/logos/Infra_Blockchain_BLK.png"></a>
          <a href="https://litentry.com"><img alt="Litentry" title="Litentry" src="/images/logos/litentry.png"></a>
          <a href="http://www.web3auth.io"><img alt="Web3Auth" title="Web3Auth" src="/images/logos/web3auth.png"></a>
          <a href="https://pingidentity.com"><img alt="Ping Identity" title="Ping Identity" src="/images/logos/pingidentity.png"></a>
          <a href="https://www.blockchains.com"><img alt="Blockchains" title="Blockchains" src="/images/logos/blockchains.png"></a>
          <a href="https://resiliant.com"><img alt="Resiliant Inc." title="Resiliant Inc." src="/images/logos/idplizz.jpeg"></a>
          <!-- <img src="/images/logos/idplizz.jpeg" /> -->
          <a href="https://www.myearthid.com"><img alt="Earth ID" title="Earth ID" src="/images/logos/earthid.jpeg"></a>
          <!-- <img src="/images/logos/earthid.jpeg" /> -->
          <a href="https://affinidi.com"><img alt="Affinidi"  title="Affinidi" src="/images/logos/affinidi.png"></a>
          <!-- <img src="/images/logos/affinidi.png" /> -->
          <a href="https://proxy.com"><img alt="Proxy" title="Proxy" src="/images/logos/proxy.png"></a>
          <a href="https://idramp.com"><img alt="ID Ramp" title="ID Ramp" src="/images/logos/id_ramp.png"></a>
          <!-- <img src="/images/logos/id_ramp.png" /> -->
          <a href="https://fennellabs.com"><img alt="Fennel Labs" title="Fennel Labs" src="/images/logos/fennel_labs.png"></a>
          <!-- <img src="/images/logos/fennel_labs.png" /> -->
          <!-- <img title="Saltmine IO" src="/images/logos/saltmine.png" /> -->
          <a href="https://nymlab.it"><img alt="Nymlab" title="Nymlab" src="/images/logos/nymlab.png"></a>
          <!-- <img src="/images/logos/nymlab.png" /> -->
          <a href="https://web3labs.com"><img alt="Web3 Labs" title="Web3 Labs" src="/images/logos/web3labs.png"></a>
          <!-- <img src="/images/logos/web3labs.png" /> -->
          <a href="https://cybavo.com"><img alt="Cybavo" title="Cybavo" src="/images/logos/cybavo.png"></a>
          <!-- <img src="/images/logos/cybavo.png" /> -->
          <a href="https://iuncta.io"><img alt="Iuncta" title="Iuncta" src="/images/logos/iuncta.png"></a>
          <!-- <img src="/images/logos/iuncta.png" /> -->
          <a href="https://interac.com"><img alt="Interac" title="Interac" src="/images/logos/interac.jpeg"></a>
          <!-- <img src="/images/logos/interac.jpeg" /> -->
          <!-- <a href="https://esatus.com"><img alt="Esatus" title="Esatus" src="/images/logos/esatus.png"></a> -->
          <!-- <img src="/images/logos/esatus.png" /> -->
          <a href="https://identity.com"><img alt="Identity.com" title="Identity.com" src="/images/logos/identity_com.jpeg"></a>
          <!-- <img src="/images/logos/identity_com.jpeg" /> -->
          <a href="https://monokee.com"><img alt="Monokee" title="Monokee" src="/images/logos/monokee.png"></a>
          <!-- <img src="/images/logos/monokee.png" /> -->
          <a href="https://sezoo.digital"><img alt="Sezoo" title="Sezoo" src="/images/logos/sezoo.png"></a>
          <!-- <img src="/images/logos/sezoo.png" /> -->
          <a href="https://switchchord.com"><img alt="Switchchord" title="Switchchord" src="/images/logos/switchchord.png"></a>
          <!-- <img src="/images/logos/switchchord.png" /> -->
          <a href="https://uniworld.io"><img alt="UniWorld" title="UniWorld" src="/images/logos/uniworld-logo.png"></a>
          <!-- <img src="/images/logos/uniworld-logo.png" /> -->
          <a href="https://portabl.io"><img alt="Portabl" title="Portabl" src="/images/logos/portabl.png"></a>
          <a href="https://www.burrata.xyz"><img alt="Burrata" title="Burrata" src="/images/logos/burrata-logo.png"></a>
          <a href="https://nes.tech"><img alt="Nest(R)" title="Nest(R)" src="/images/logos/nest.png"></a>
          <a href="https://passivebolt.com"><img alt="PassiveBolt" title="PassiveBolt" src="/images/logos/passivebolt.png"></a>
          <a href="https://superlunar.com"><img alt="Superlunar" title="Superlunar" src="/images/logos/superlunar.png"></a>
          <a href="https://extrimian.io"><img alt="extrimian" title="extrimian" src="/images/logos/extrimian.png"></a>
          <a href="https://dock.io"><img alt="dock" title="dock" src="/images/logos/dock.png"></a>
          <a href="https://genoo.com"><img alt="Genoo" title="Genoo" src="/images/logos/genoo.png"></a>
          <a href="https://trudenty.com"><img alt="Trudenty" title="Trudenty" src="/images/logos/trudenty-logo.png"></a>
          <a href="https://silencelaboratories.com"><img alt="Silence Laboratories" title="Silence Laboratories" src="/images/logos/silence-laboratories.png"></a>
          <a href="https://idakto.com"><img alt="iDAKTO" title="iDAKTO" src="/images/logos/idakto.png"></a>
          <a href="https://www.ledgis.io/en"><img alt="IBCT" title="IBCT" src="/images/logos/ibct-logo.png"></a>
          <a href="https://magic.link"><img alt="Magic Labs Inc." title="Magic Labs Inc." src="/images/logos/magic.svg"></a>
          <a href="https://polygon.technology"><img alt="Polygon Labs" title="Polygon Labs" src="/images/logos/polygon.svg"></a>
          <a href="https://mydid.com"><img alt="myDid" title="myDid" src="/images/logos/mydid.png"></a>
          <a href="https://www.prodao.club"><img alt="PRODAO" title="PRODAO" src="/images/logos/icncast.png"></a>
          <a href="https://affinitiquest.io/"><img alt="AffinitiQuest" title="AffinitiQuest" src="/images/logos/affinitiquest.svg"></a>
          <a href="https://www.privado.id/"><img alt="Privado" title="Privado" src="/images/logos/privado.png"></a>
          <a href="https://cheqd.io/"><img alt="cheqd" title="cheqd" src="/images/logos/cheqd.png"></a>
          <a href="https://julia.social"><img alt="Julia Social" title="Julia Social" src="/images/logos/julia.png"></a>
          <a href="http://www.k4-security.com"><img alt="K4 Security Co., Ltd" title="K4 Security Co., Ltd" src="/images/logos/k4security.png"></a>
          <a href="https://foundation.camino.network/"><img alt="Camino Network Foundation" title="Camino Network Foundation" src="/images/logos/camino.png"></a>

        </div>
      </div>
      <br>
      <br>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="section-title text-center">
              <h2 class="font-alt">Partners</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <div class="member-list">
                  <a href="https://openid.net/"><img alt="Open Identity Foundation" title="Open Identity Foundation" src="/images/logos/openid-logo.png"></a>
                  <a href="https://www.uschamberfoundation.org/t3-innovation"><img alt="T3 Innovation Network" title="T3 Innovation Network" src="/images/logos/t3-inno.png"></a>
                  <a href="https://www.tu.berlin/en/"><img alt="TU Berlin" title="TU Berlin" src="/images/logos/tu-berlin.png"></a>
                  <a href="https://www.tno.nl/en/"><img alt="TNO Innovation for life" title="TNO Innovation for life" src="/images/logos/tno.png"></a>
                  <a href="https://digitalidentity.nz/"><img alt="Digital Identity New Zealand" title="Digital Identity New Zealand" src="/images/logos/dinz.png"></a>
                  <a href="https://www.din.foundation/"><img alt="DIN" title="DIN" src="/images/logos/din.png"></a>
                  <a href="https://trustalliance.co.nz"><img alt="Trust Alliance New Zealand" title="Trust Alliance New Zealand" src="/images/logos/tanz.png"></a>
                  <a href="https://dtlab-labcn.org"><img alt="Digital Identity Lab of Canada" title="Digital Identity Lab of Canada" src="/images/logos/logo-dtlab-en.svg"></a>
                  <a href="https://fidoalliance.org"><img alt="FIDO Alliance" title="FIDO Alliance" src="/images/logos/fido-logo.png"></a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="section-title text-center">
              <h2 class="font-alt">Contributors</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              
              <div class="member-list">
                <p>13x Tech,
                2060.io,
                4Technology Ltd,
                AI MINDSystems Foundation,
                ANIMO Solutions,
                ARONETICS,
                ATB Ventures,
                Acchalabs Pte Ltd.,
                Accrete Inc,
                Acuity Market Intelligence,
                Advance AI,
                Afrilogic Solutions,
                Aid Technology Ltd,
                Algorand Foundation,
                All For Tech Empowerment Foundation,
                Allternet,
                Amesto Fortytwo,
                Amplitude Technologies Inc.,
                Andreas Gratz,
                Antoinette Murphy & Associates Ltd,
                AntumID,
                Applied Recognition Corp.,
                Aquar Labs IT Solutions LLP,
                Arilon Services Ltd,
                Artistverified,
                Asignio Inc,
                Assertiv,
                Attesta Inc.,
                Augeos,
                Aurigraph Inc.,
                Auth In the Cloud,
                Authbridge,
                AuthenTrend,
                Authenticate,
                AutoSeg,
                Autofyle,
                Avoco Secure Ltd.,
                AyanWorks Technology Solutions Pvt. Ltd.,
                Ayani Tech Inc.,
                Benri.io,
                Berify,
                Binaria ID,
                BioKeyPer, Inc.,
                Bitmark Inc.,
                BizSecure Inc,
                Blerify Inc.,
                Blerify Inc.,
                Blockchain Commons, LLC,
                Blockchain Secure,
                Blockchain USA LLC,
                Blockster Labs,
                BlokSec Technologies Inc.,
                Bloqzone,
                Briartech Consulting Inc.,
                Brinkworks Proprietary Limited,
                Bundesdruckerei GmbH,
                Burgschild Holding UG,
                CPQD,
                CRIMZON,
                CRIPTIQ,
                CWS Alliance LLC, dba PrivacyPlan,
                Caelum Labs,
                CentraPass Limited,
                Chanwanich,
                Chelpis Co., Ltd.,
                Chinnu Inc.,
                Civitas Fintech,
                Cloud Compass Computing Inc.,
                Cloudocracy,
                Codii Ltd,
                ConnEthics,
                Connecting Software,
                Continuum Loop Inc.,
                ControlBEAM, Inc.,
                Crayonic Inc.,
                Crikx and Co Limited,
                Crossmint Inc,
                CryptoSavannah,
                Cryptonics Consulting,
                Cycurid Technologies LTD,
                DAL Identity,
                DATA MILLING S.L.,
                DEDE,
                DGMJR-IO,
                DGT Network Inc.,
                DLTx Pty Ltd,
                DSwiss AG,
                Daoist Space,
                Dappworks Technology Inc.,
                Datasoc,
                Dazz Digital Identity,
                Deutscher Sparkassen und Giroverband eV,
                Dhiway Networks Private Limited,
                Digital Bazaar, Inc.,
                Digital Diode,
                Digitary,
                DoCoCop, Inc.,
                Domi Labs UG,
                Dominode,
                Doshy,
                Doshy,
                Doxa SAS,
                Dstillery Inc,
                Dtravel,
                ECIJA GPA ,
                EYD AS,
                EarthID Technology Ltd,
                East Software,
                Emfisis,
                Emrify Labs LLC,
                Encodible LLC,
                Energy Web Foundation,
                Entidad,
                Equideum Health,
                Equteq Ltd,
                Eugenio Reggianini,
                Execute Inc.,
                Exemine,
                FAIR AND SMART,
                FIDE Holdings, Inc.,
                FISE Technologies Inc,
                Fact Protocol,
                Factorytalk,
                Filogex Inc,
                Flindev Pty Ltd,
                FloCard L.L.C,
                Fly Health, LLC,
                FormFree Holdings Corporation,
                Forte Consulting LLC,
                Forth Consulting,
                GCR,
                GREEN EARTH ZONE SERVICES CORPORATION,
                Gataca ID,
                Gimly,
                GlobaliD,
                GoChain, Inc.,
                GoPlausible,
                Good Future, LLC,
                Government of Western Australia,
                Grant Thornton Advisory SLP,
                HACERA,
                Happily Ever After,
                Hasgeek Learning,
                Hashed Works,
                Henosisknot,
                Horizen Labs Italia SRL,
                Horkos, Inc.,
                Hospitality Technology Network, LLC,
                Humn.ai,
                Hypermine Ltd,
                IAMX AG,
                ID Crowd Limited,
                IDmachines,
                IDnow GmbH,
                IFESA,
                INFOTROPIC LTD,
                IOHK,
                Identity Methods Ltd.,
                Identity Praxis, Inc.,
                Identity Works LLC DBA Identity Woman in Business,
                Ignite Consulting LLP,
                Imageware,
                Imara Digital Media Foundation LTD,
                Immutability,
                Impactility,
                Indicio,
                Indie Computing Corp.,
                IndyKite Inc.,
                InfoCert,
                Inguro OU,
                Inji Niji,
                Innovations Accelerated,
                Inrupt Inc.,
                Inspirit Vision LLP,
                Instnt Inc.,
                Internet Identity Card,
                InternetNZ,
                Intrusion,
                Island Way Technology, LLC,
                IxFintech,
                Janeiro Digital,
                Kataru Co., Ltd.,
                Keyring Network,
                Kiva,
                Kloudone Inc.,
                Know Your Customer Limited,
                Knowledge Catalyst Pte. Ltd.,
                Knox Networks,
                Kongju National University,
                Konodrac,
                Korsimoro LLC,
                Kung Fu Software,
                Kycor LTD,
                Layer3 Software,
                Legendary Requirements,
                Lumoin Oy,
                MN8 Technology OÜ,
                MYKEY Lab,
                Mailchain Limited,
                Mavennet Systems Inc.,
                MaygID LLC,
                Mazik Tech Solutions Pvt.,
                MediBloc,
                Minds, Inc.,
                My Vista Inc.,
                Mysilio Co,
                NEXTBIGFOUR LLC,
                National ID Program Office, Ethiopia,
                NetSys Technology Limited,
                NiHS Research,
                Northern Block,
                Novabit projetos sistemas e Treinamentos,
                Nutec Development,
                ObjectSpaces Ltd.,
                Off-Blocks Ltd.,
                Ohio-At-Home Health Care Agency,
                OneID Ltd,
                Ontology Foundation Ltd.,
                Open Reserve LLC,
                OpenSoftware.pl,
                Openitio Ltd.,
                Optivide,
                OwnYourData.eu,
                PANDECYT,
                PJW LC,
                POPSMASH,
                PRYVIT NZ LIMITED,
                PT Securetasks Global Teknologi,
                Pacio Core Ltd.,
                Parallelspace Corporation,
                Partners in Digital Health,
                Passbase,
                PathCheck Foundation,
                Patient Privacy Rights,
                Payments Engineering Incorporated,
                Peters-IT Consult GmbH,
                Phoenix Business Solutions Inc,
                Polysensus Ltd.,
                Prism Hospitality Consulting,
                Privatyze,
                ProofSpace,
                Provenant, Inc.,
                Pulse Connect Co.,
                Q5id, Inc.,
                Quantum One DAO LLC,
                Quartzbyte Ltd,
                QueryVision,
                RANDA Solutions,
                RCM Labs,
                RECTALE Inc.,
                RK Tech Works, LLC,
                Radical Ledger Technologies Pvt Ltd.,
                Real Items Foundation, Inc.,
                ReddCoin Solutions LLC,
                Reputationaire,
                Revelin7 Technology Pvt Ltd,
                Ri Equation,
                Rinku,
                RootsID LLC,
                SIA UHODL,
                SPEARIT,
                STROMDAO GmbH,
                STammin Inc.,
                SWN Global,
                Sabhi,
                SafePay Systems,
                Seakingdata Information Technology (Tianjin) Co.,
                Secours.io,
                Security, Privacy, and AI Research Lab (SPAIRL),
                SelfKey,
                SemanticClarity,
                Sensay,
                SettleMint,
                Shovel Company,
                Simard OU,
                Skystone Technology,
                SmartID LLC,
                Snapper Future Tech Pvt Ltd,
                Sonr,
                Sophtron, Inc.,
                Spazio IT,
                Spoole Systems Pvt Ltd.,
                Stargazer Domains S.L.,
                Stichting Tonomy,
                Stratcity inc,
                Subspace Labs,
                Sybil Solutions,
                TON Labs,
                TRAVHOTECH & Testbed Vegas,
                Talao,
                Tech41 GmbH,
                TechWealth, LLC,
                Textile.io,
                The Authenticity Institute,
                The Mee Foundation,
                The Silicon Bear Company Ltd.,
                The ValidIDe Project,
                ThinkGraph LLC,
                Tierum,
                Tokenine Co.,Ltd.,
                Tonomy Foundation,
                Trabuco Technology Partners,
                TranSendX,
                Travel.Commerce.UG,
                Traversity Pty Ptd.,
                Trevonix Technologies Limited,
                TrueVote, Inc.,
                Trust Anchor Group,
                Trust Science,
                TrustCerts GmbH,
                TrustFrame, Inc.,
                TruthShare Software Private Ltd,
                Trybe.ID Inc.,
                Umazi Ltd.,
                UnoTelos,
                Unum,
                Vector Space Technologies LLC,
                Vereign AG,
                Verida,
                Veridium,
                Verifiable Credentials Ltd.,
                Verifiable Ventures Ltd,
                Verim,
                Violet Protocol,
                Violet Sky Security BV,
                Voatz, Inc.,
                Void, Corp,
                WOPLLI Technologies LLC,
                Wallway Technologies,
                Waterbalanced Technology Inc.,
                Waveware Technologies Inc,
                Web Of Identity Network,
                WedaCon Informationstechnologien GmbH,
                WhoIAM,
                Workgraph, Inc,
                Workonomix,
                XBT.LLC,
                XMTP,
                XTSeminars Ltd,
                Yellow Dot Pink,
                Yes AG,
                Yoonik S.A.,
                Yorba,
                Youverify Inc.,
                ZKXP,
                ZeHUB,
                Zero Knowledge Decentralised Identity,
                Zero Trust Identity,
                Zion aka Modern Foundry Inc,
                humanID,
                iGrant.io (Sweden),
                identinet GmbH,
                mesur.io,
                norbloc AB,
                octopus.sh,
                sideos,
                trippl inc.,
                xVentures AI, Inc,
                0xKYC, Inc
                  </p> 
            </div>
          </div>
        </div>
      </div>

      <br>
    </section>

    <section id="blog" class="section blog-section">
      <div class="container">
        <div class="row justify-content-center m-50px-b md-m-10px-b">
          <div class="col-12 col-md-10 col-lg-7">
            <div class="section-title text-center">
              <h2 class="font-alt">News &amp; Insights</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>News about our work and insights from our members on their efforts to build the decentralized identity ecosystem.</p>
              <br>
              <h3>See our <a href="https://blog.identity.foundation/author/newsletter"><i>Newsletters</i></a> and our <a href="https://blog.identity.foundation"><i>Blog</i></a></h3>
            </div>
          </div>
        </div>

        <!--<div id="blog_posts" class="row">
          <div class="spinner"><span></span></div>
        </div> -->
      </div> <!-- container -->
    </section>
    <!-- Blog End -->

    <!-- Contact Start -->
    <section id="contatus" class="section gray-bg">
      <div class="container">
      	<div class="row justify-content-center m-50px-b md-m-25px-b">
          <div class="col-10">
            <div class="section-title text-center">
              <h2 class="font-alt">Get In Touch</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>If you're an organization interested in developing industry standards and open source technical components, join DIF. More information available <a href="/join/">here</a>
                 or send us a message at membership@identity.foundation</p>

                 <br>
                 <p> For press enquires get in touch via: press@identity.foundation</p>

            </div>
          </div>
        </div>

        <!-- div class="row justify-content-center">
        		<div class="contact-form col-10 col-lg-8">
                <form id="inquiry_form" class="contactform" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="name" name="entry.76121140" type="text" placeholder="Organization" class="validate form-control" required>
                        <span class="input-focus-effect"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="email" type="email" placeholder="Email" name="entry.286710955" class="validate form-control" required>
                        <span class="input-focus-effect"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="inquiry_type_radios">Interested in:</label>
                        <select class="form-control" id="inquiry_type_radios" name="entry.1501664113" required>
                          <option value="membership">Membership</option>


                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="send">
                          <button class="m-btn m-btn-t-dark" type="submit" name="send"> Send</button>
                      </div>
                      <span class="output_message"></span>
                    </div>
                  </div>
                </form>


        	</div>
        </div> -->
      </div> <!-- Container -->

                <div class="row justify-content-center">
                </div>

    </section>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="/js/index.js"></script>
{% endblock %}
