<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html.njk" %}
  <body>
    {% include "partials/nav.html.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html.njk" %}
    {% block scripts %}
      {% for file in js %}
        <script src="/js/{{ file }}.js"></script>
      {% endfor %}
      <script src="/js/base.js"></script>
    {% endblock %}
  </body>
</html> 