{% set name = "Steering Committee Election" %}
{% set logo = "algorithm" %}
{% set title = "Election 2021" %}
{% set repoTag = "" %}

{% extends "default.html" %}

<!-- {% block svg %}

{% endblock %} -->

{% block content %}
<section class="page-title theme-bg">
  <div class="container">
    <svg><use xlink:href="#{{logo}}"></use></svg>
    <h1>{{name}}</h1>
    {% if subtitle %}
      <h3>{{subtitle}}</h3>
    {% else %}
      <h3>Decentralized Identity Foundation</h3>
    {% endif %}
  </div>
</section>

<section class="counter-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="font-alt">About the election</h2>
          <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
          <p>DIF was established to represent our fast changing community and to create a safe space for the co-development of next-generation code and specifications. From the original handful of members 4 years ago, the foundation has grown to become an organization with over 200 member companies, representing thousands of PRs and a strong commitment to decentralizing identity software.
            </p>
          <p>Since its inception, DIF has been primarily governed by a Steering Committee. The Steering Committee is a  group of member representatives whom lead DIF, set strategy, assure the high quality of ratified work items, react to the community’s needs, among other decisions.
            </p>
          <p>Over the last year, one of the main foci of the current Steering Committee has been restructuring itself to ensure it will represent the interests and diversity of its growing membership. Among the conclusions of this analysis was that a larger steering committee would garner more trust and visibility into DIF's internal governance as an organization. An operating addendum was adopted last month which formalizes procedures for periodic elections and distribution requirements. The following repackages those policies in the form of a Frequently Asked Questions document: for further clarification, see the <a href="https://github.com/decentralized-identity/org/blob/c06c17bd2df58633eb74d9d5237281c79d9b676e/Org%20documents/Membership%20agreements/DIF%20Governance%20-%20Operating%20Addendum%20-%2020210304.pdf">addendum itself.</a></p>
          <br>
          <h2 class="font-alt">Nominees</h2>

          <br>
          <p> <a href="#catherine"><b>Catherine Nabbala</b></a> (Finema)</p>
          <p> <a href="#irene"><b>Irene Hernandez</b></a> (Gataca)</p>
          <p> <a href="#brent"><b>Brent Zundel</b></a> (Evernym)</p>
          <p> <a href="#david"><b>David Waite</b></a> (Ping Identity)</p>
          <p> <a href="#joachim"><b>Joachim Lohkamp</b></a> (Jolocom)</p>
          <p> <a href="#juan"><b>Juan Caballero</b></a> (Spruce)</p>
          <p> <a href="#kishore"><b>Kishore Bhatia</b></a> (Affinidi)</p>
          <p> <a href="#thomas"><b>Thomas Mueller</b></a> (Blockchains)</p>
          <p> <a href="#troy"><b>Troy Ronda</b></a> (SecureKey)</p>
<br>
<br>
          <h2 class="font-alt">Voting process</h2>
        </div>
        <div class="section-title text-left">
          <br>
          <p>Since its inception, DIF has been primarily governed by a Steering Committee. The Steering Committee is a  group of member representatives whom lead DIF, set strategy, assure the high quality of ratified work items, react to the community’s needs, among other decisions.</p>
          </p>
          <lu>
            <li>OOnly Associate members can vote, and each votes as a whole on one ballot. One ballot can contain up to 4 names. (one name per available seat at the Steering Committee).</li>
            <li>Submission of ballots is made via this  <a href="https://forms.gle/iWjZKBCndg6ggvut5">google form. </a></li>
            <li>These will be audited confidentially and not published in any way (not even as tallies). </li>
            <li>If one member organization accidentally votes more than once, DIF staff will reply to the emails to clarify the issue, so please use a monitored/normal email address in the organization's domain rather than personal accounts or "alts." </li>
            <li>All ballots are assumed to be collective/company-wide decisions even if multiple are received.</li>
            <li>The voting is open between 20th May and 27th May. The deadline for the last vote is 23:59 ET on the 27th of May.</li>
          </lu>
          </div>
      </div>              
          </div>
      </div>
</section>

<section id="catherine" class="counter-section gray-bg">
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="section-title text-left">
            <h2 class="font-alt"><a href="https://www.linkedin.com/in/catherine-nabbala/"> Catherine Nabbala Seppuuya</a></h2>
            <h5 class="font-alt"><a href="https://finema.co/">Finema</a></h5>
            <h5 class="font-alt">Bangkok, Thailand</h5>
            <!-- table start-->
            <table style="width:100%"  >
              <tr>
                <td class="bg-light" width="700">
                    Hosting DIF-APAC and setting up DIF-Africa not only offered me a platform to build my communication and organizational skills, but also led to strong relationship with the 
                    community. It is with this attachment that I was inspired to represent Asia-Pacific and Africa at large in a more active role on the DIF Steering Committee. My aim is to voice the concerns of the community and fully represent these two regions of the world. This shall not only reinstate DIF’s ability to nurture diversity in geographical distribution and culture but also offer a sense of enrichment. 
                    <ul>
                      <li>I am a highly self-motivated individual who will not stop at anything until the responsibility at hand is done.</li>
                      <li>I come along with excellent management and capacity building skills, exceptional ability to multi-task, compelling leadership skills, and high tolerance to stress. I am a flexible team player and, above all, very self-driven.</li>
                    </ul>
                    <h5>Experience Pertinent to the Role</h5> 
                    <ul>
                      <li>I was an analyst at an investment banking firm, overseeing multiple facets of the business, e.g., strategies, partnerships, budgets, and commercial models. This has given me all-encompassing and strategic thinking that would become useful for how to make DIF sustainable. 
                        am actively and inactively (i.e., at the observer level) involved with several initiatives that apply SSI, e.g., CCI, ToIP, and GHPC.</li>
                        <li>Over time, I have developed successful methods in working with local regulators to endorse VCs. My experience would assist DIF in their effort to collaborate with regulators in other countries, especially those in APAC and Africa. </li>
                        <li>At Finema, I am involved in business development, marketing, project management, team building, communication, customer relation, community coordination, and global outreach.</li>
                    </ul> 
                    <p>Catherine's full application can be found <a href="https://github.com/decentralized-identity/decentralized-identity.github.io/blob/master/assets/election/Biography%20-%20Catherine%20.pdf>here</a></p>

                  
                  </td>
                <td>                </td>
                <td><img src="/images/photos/catherine-nabbala.png" alt="charles" width="128" height="128"></td>
              </tr>
            </table>
            <!-- table ends-->
            <p></p>
          </div>
        </div>
    </div>
  </div>
  <!-- container -->
</section>

<section id="irene" class="counter-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-left">
          <h2 class="font-alt"><a href="https://www.linkedin.com/in/irenehernandez/">Irene Hernandez</a></h2>
          <h5 class="font-alt"><a href="https://gataca.io/">Gataca</a></h5>
          <h5 class="font-alt">Madrid, Spain</h5>
          <!-- table start-->
          <table style="width:100%"  >
              <tr>
                <td class="bg-light" width="700">Defined by Forbes as one of the 21 leaders of change in 2021, Irene is an entrepreneur, researcher and business leader currently serving as CEO at GATACA, a cybersecurity company on a mission to give users back control over their personal data through Decentralized Digital Identity technology. In addition to being an expert in blockchain-based enterprise solutions, she is a professor of Blockchain Applications at OBS, and regularly speaks at international conferences.
                  Irene started GATACA after conducting extensive research on decentralized architectures for identity and energy financing systems while working at MIT’s Media Lab. Before MIT, Irene spent a decade advising U.S. and European Multinational Corporations on IT strategies and global product architecture.
                  She holds an MBA from MIT, a Master of Aeronautics from EOI, and a Master of Science in Telecommunications Engineering.
                  </td>
                <td>                </td>
                <td ><img src="/images/photos/irene-hernandez.jpeg" alt="charles" width="128" height="128" ></td>
              </tr>
            </table>
            <!-- table ends-->
          </div>
        </div>
      </div>
    </div>
  </section>


<section id="brent" class="counter-section gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-left">
          <h2 class="font-alt"><a href="https://www.linkedin.com/in/bzundel/">Brent Zundel</a></h2>
          <h5 class="font-alt"><a href="https://www.evernym.com/">Evernym</a></h5>
          <h5 class="font-alt">American Fork, USA</h5>
          <!-- table start-->
          <table style="width:100%"  >
            <tr>
              <td class="bg-light" width="700">I feel I would be a good candidate for the steering committee because I am widely involved in decentralized identity efforts in a number of disparate communities.
                At the W3C, I am co-chair of the DID WG, helped edit the Verifiable Credentials Data Model v1.0 specification, and am currently co-chair of the VCWG.
                At DIF, I helped create the Presentation Exchange Spec, and am leading the work on the WACI Presentation Exchange protocol. I am also leading an effort to create a Crypto WG.
                At Hyperledger, I help maintain the Indy and Ursa projects and have contributed to Aries.
                I am the chief cryptography architect at Evernym and do a lot of work on open standards.

                </td>
              <td>                </td>
              <td><img src="/images/photos/brent-zundel.jpeg" alt="charles" width="128" height="128"></td>
            </tr>
          </table>
          <!-- table ends-->
        </div>
      </div>
    </div>
  </div>
</section>

<section id="david" class="counter-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-left">
          <h2 class="font-alt"><a href="https://www.linkedin.com/in/davidwaite/">David Waite</a></h2>
          <h5 class="font-alt"><a href="https://www.pingidentity.com/">Ping Identity</a></h5>
          <h5 class="font-alt">Denver, USA</h5>
          <!-- table start-->
          <table style="width:100%"  >
              <tr>
                <td class="bg-light" width="700">I’m pleased to accept the nomination to serve on the DIF steering committee!
                  A little bit about myself: I have been involved in various open source initiatives
                  throughout my adult life, and have been working within the identity space for the
                  last 20 years. I am the primary point of contact for my company’s participation in
                  the Decentralized Identity Foundation (DIF), the World Wide Web Consortium
                  (W3C), and the FIDO Alliance, while also participating in efforts within the IETF
                  and OpenID Foundation. I am prepared to commit to also work with the DIF
                  steering committee.
                  <br> <br> 
                  In terms of technical opportunities for DIF, I consider perhaps the most significant
                  one to be the promotion of interoperability. It can be difficult for even those
                  involved in this space to track the technical specifications (and relevant
                  implementations) needed to support various end-to-end protocol scenarios. It
                  can also be challenging to know the various initiatives within different verticals to
                  define use cases, minimal supported technology and common schemas.
                  If elected onto the steering committee, I would push for us to continue the
                  excellent work by the interoperability group members in documenting
                  specifications and initiatives, as well as to further promote that work. The goal
                  would be that the DIF would become the definitive place for people to come and
                  understand the decentralized identity space.
                  </td>
                <td>                </td>
                <td ><img src="/images/photos/david-waite.jpeg" alt="charles" width="128" height="128" ></td>
              </tr>
            </table>
            <!-- table ends-->
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="joachim" class="counter-section gray-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-left">
            <h2 class="font-alt"><a href="https://www.linkedin.com/in/joachimlohkamp/">Joachim Lohkamp</a></h2>
            <h5 class="font-alt"><a href="https://jolocom.io/">Jolocom</a></h5>
            <h5 class="font-alt">Berlin, Germany</h5>
            <!-- table start-->
            <table style="width:100%"  >
              <tr>
                <td class="bg-light" width="700">
                  <p>Quote: “SSI is at the very heart of digital infrastructure innovation. In an increasingly digital world, socio-economic development can only flourish if those who build technical infrastructure support radical open standards and interoperability.” - Joachim Lohkamp, CEO Jolocom </p>

At Jolocom, we have followed a community-based approach to partnerships and business
development since our start in 2014. As a founding member and board member of the
German Blockchain Association, Jolocom has contributed to the association’s success with
time, energy and relentless motivation. My own involvement in the association’s activities
has thus far been focused on efforts to promote interoperable decentralized identity and distributed ledger infrastructure in Germany, Europe and beyond. Not only has Bundesblock published the worldwide first community lead position paper on digital identities  also we achieved the adoption of a blockchain strategy by the German government. Currently SDI (Secure Digital Identities) lighthouse projects’ implementation phase launched, where the focus lies fully on SSI technology, being funded with 60M € over the next 3 years. Another very meaningful success for the whole SSI ecosystem resulting from continous community work. Further with INATBA an essential Association has been co-founded with our help to extending the work of Bundesblock on SSI and blockchain to EC levels.

<br> <br> 
Jolocom has been a member of DIF for several years contributing to various efforts, like donations of several implementations to DIF (KERI Rust, DIDComm v2 Rust) and full commitment to maintain code bases and continue contributing.
Not least, I would like to point to DWeb where together with Wendy Hannamura and Brewster Kahle of the Internet Archive, and many more builders of decentralized tech, Web3 and many more I’m very grateful I had the pleasure to contribute to since 2014.

<br> <br> DIF has achieved a lot on bringing the larger identity community together. With a momentum for convergence around AIP v2 and open standards at DIF and W3C we actually have the chance to bring SSI as an open standards based interoperable infrastructure to reality. It is an exciting phase for all of us and I would like to commit myself and step up my current commitment to DIF further to help build out the fantastic ground work done so far.

<br> <br> Me personally, but also at Jolocom, we dedicate a good part of our resources to community efforts. As every employee at Jolocom, in our community work we are independant form our organization to serve in the best interest of the community.</p>
  
                  </td>
                <td>                </td>
                <td><img src="/images/photos/joachim-lohkamp.jpeg" alt="charles" width="128" height="128"></td>
              </tr>
            </table>
            <!-- table ends-->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="juan" class="counter-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-left">
            <h2 class="font-alt"><a href="https://www.linkedin.com/in/juan-caballero/">Juan Caballero</a></h2>
            <h5 class="font-alt"><a href="https://www.spruceid.com/">Spruce</a></h5>
            <h5 class="font-alt">Berlin, Germany</h5>
            <!-- table start-->
            <table style="width:100%"  >
                <tr>
                  <td class="bg-light" width="700">Juan has been studying decentralized identity in a focused and structured manner since crashing RWOT 6 in Santa Barbara on a whim, first with The Purple Tornado (USA), then with Spherity (DE), and now as an independent consultant (LearningProof.xyz) and with Spruce (USA). He has also served for a year helping DIF with communications and community management, helping with operations and strategy, and co-chairing the Interoperability working group.
                    </td>
                  <td>                </td>
                  <td ><img src="/images/photos/juan-caballero.jpg" alt="charles" width="128" height="128" ></td>
                </tr>
              </table>
              <!-- table ends-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="kishore" class="counter-section gray-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="section-title text-left">
              <h2 class="font-alt"><a href="https://www.linkedin.com/in/kishorebhatia/">Kishore Bhatia</a></h2>
              <h5 class="font-alt"><a href="https://www.affinidi.com/">Affinidi</a></h5>
              <h5 class="font-alt">Singapore, Singapore</h5>
              <!-- table start-->
              <table style="width:100%"  >
                <tr>
                  <td class="bg-light" width="700">
                    Humble beginnings and growing up in India with limited resources per capita (in the 80s & 90s) taught me to be resourceful and help others via communities, creating shared resources for common good. That's the mantra I've followed since graduating in Comp Science, doing what I love and being a global citizen (fortunate): Open Source innovation FTW, technology for impact and purpose before profit. With Affinidi, I'm pursuing and building on my vision of digital inclusion and economic upliftment by democratizing creation and use of digital identity and credentials. 

                    <br> <br> With Affinidi I'm building use-cases that solve real problems, working with stakeholders/sponsors to enable long term impact and innovation in this space.
I believe in creating ecosystems & marketplaces with open innovation in the Verifiable Credentials space solving most common problems collaboratively, like VC schema development and management for various verticals, Discoverability (credential types, issuer/verifier and metadata) and interoperability across various implementations and providers for faster & better adoption. Continuously learning and pairing up with DIF members and WG's I've grown to appreciate the diversity of ideas, belief in standards and specs while being pragmatic w/ tradeoffs and speed of iteration in DIF.
    
                    </td>
                  <td>                </td>
                  <td><img src="/images/photos/kishore-bathia.jpeg" alt="charles" width="128" height="128"></td>
                </tr>
              </table>
              <!-- table ends-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="thomas" class="counter-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="section-title text-left">
              <h2 class="font-alt"><a href="https://www.linkedin.com/in/thomasxmueller/">Thomas Mueller</a></h2>
              <h5 class="font-alt"><a href="https://www.blockchains.com/">Blockchains</a></h5>
              <h5 class="font-alt">Dresden, Germany</h5>
              <!-- table start-->
              <table style="width:100%"  >
                  <tr>
                    <td class="bg-light" width="700">
                      Thomas was CEO and co-founder of evan GmbH, which Blockchains, Inc. acquired earlier this year. With his extensive experience in business and IT, his mission is to develop and establish a standards-based, business-to-business cooperation platform for the digital economy. Furthermore, Thomas is a speaker, author, and expert in the field of decentralized technologies, blockchain for business, and digital business. 
                      <br> <br>Thomas has 15+ years of leadership experience at enterprises and midsize companies. He graduated in computer science at the Technical University Dresden. As managing consultant at T-Systems, he led interdisciplinary teams in numerous enterprise projects. Afterwards, as a member of the management board and was responsible for all aspects of the marketing and sales of a medium-sized software company. 
                      <br> <br>At evan, we've seen the need for a new kind of digital collaboration between companies. Our customers, predominantly mid-sized companies, were falling behind due to inefficient, non-digital ways of working or were increasingly becoming dependent on central industry platforms. With Evan, we created a neutral, de-centralized environment that enables companies to exchange identity-related data securely using blockchain technology, even in multi-party collaborations. We consistently design the technology based on open standards, such as DID and VCs, in the identity area. 
<br> <br>My mission is to build ecosystems, built on open standards with digital identity at their core, for industrial use cases. From resource sharing to supply chain management, I have accompanied projects in building governance structures. Coopetition—the cooperation of companies in the use of shared resources while at the same time competing for customers—is a focus area for me as well. I have always believed that ecosystems only work with trust. Building this trust technologically and keeping it interoperable is the subject of the DIF's work, just as it has consistently been the focus of my own work. In addition to technical standards, adaptation in companies must also be promoted. As a member of the Steering Committee, I would like to work towards this goal.  
                      </td>
                    <td>                </td>
                    <td ><img src="/images/photos/thomas-mueller.jpeg" alt="charles" width="128" height="128" ></td>
                  </tr>
                </table>
                <!-- table ends-->
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="troy" class="counter-section gray-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="section-title text-left">
                <h2 class="font-alt"><a href="https://www.linkedin.com/in/troyronda/">Troy Ronda</a></h2>
                <h5 class="font-alt"><a href="https://securekey.com/">SecureKey</a></h5>
                <h5 class="font-alt">Toronto, Canada</h5>
                <!-- table start-->
                <table style="width:100%"  >
                  <tr>
                    <td class="bg-light" width="700">
                      I have over 12 years of software development and product management experience advancing initiatives that leverage technologies such as decentralized identity, identity and data exchange, proximity technology, secure elements and mobile solutions.
                      <br> <br>In my current role as Chief Scientist at SecureKey Technologies, I guide our open development team and lead technical strategy for our decentralized identity platform TrustBloc. I am passionate about leveraging decentralized technology and standards to solve business and trust problems. I also authored the Orb DID method to enable a foundation for building digital ecosystems on top of decentralized identifiers using a federated, replicated and scalable approach.
                      <br> <br>I hold a M.Sc. in Computer Science from the University of Toronto. I am an active contributor in the Hyperledger and Decentralized Identity Foundation communities and serve as a member of the Hyperledger Technical Steering Committee and co-chair of the DIF Sidetree Working Group. I am also a maintainer of the Hyperledger Aries Framework Go and Fabric SDK Go projects.
                      </td>
                    <td>                </td>
                    <td><img src="/images/photos/troy-ronda.jpg" alt="charles" width="128" height="128"></td>
                  </tr>
                </table>
                <!-- table ends-->
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
