{% set name = "Steering Committee Election" %}
{% set logo = "algorithm" %}
{% set title = "Election 2021" %}
{% set repoTag = "" %}

{% extends "default.html" %}

<!-- {% block svg %}

{% endblock %} -->

{% block content %}
<section class="page-title theme-bg">
  <div class="container">
    <svg><use xlink:href="#{{logo}}"></use></svg>
    <h1>{{name}}</h1>
    {% if subtitle %}
      <h3>{{subtitle}}</h3>
    {% else %}
      <h3>Decentralized Identity Foundation</h3>
    {% endif %}
  </div>
</section>

<section class="counter-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="font-alt">About the election</h2>
          <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
          <p>DIF was established to represent our fast changing community and to create a safe space for the co-development of next-generation code and specifications. From the original handful of members 4 years ago, the foundation has grown to become an organization with over 200 member companies, representing thousands of PRs and a strong commitment to decentralizing identity software.
            </p>
          <p>Since its inception, DIF has been primarily governed by a Steering Committee. The Steering Committee is a  group of member representatives whom lead DIF, set strategy, assure the high quality of ratified work items, react to the community’s needs, among other decisions.
            </p>
          <p>Over the last year, one of the main foci of the current Steering Committee has been restructuring itself to ensure it will represent the interests and diversity of its growing membership. Among the conclusions of this analysis was that a larger steering committee would garner more trust and visibility into DIF's internal governance as an organization. An operating addendum was adopted last month which formalizes procedures for periodic elections and distribution requirements. The following repackages those policies in the form of a Frequently Asked Questions document: for further clarification, see the <a href="https://github.com/decentralized-identity/org/blob/c06c17bd2df58633eb74d9d5237281c79d9b676e/Org%20documents/Membership%20agreements/DIF%20Governance%20-%20Operating%20Addendum%20-%2020210304.pdf">addendum itself.</a></p>
          <br>
          <h2 class="font-alt">Nominees</h2>

          <br>
          <p> <a href="#monkeybusiness"><b>Catherine Nabbala</b></a> (Finema)</p>
          <p> <a href="#irene"><b>Irene Hernandez</b></a> (Gataca)</p>
          <p> <a href="#brent"><b>Brent Zundel</b></a> (Evernym)</p>
          <p> <a href="#david"><b>David Waite</b></a> (Ping Identity)</p>
          <p> <a href="#joachim"><b>Joachim Lohkamp</b></a> (Jolocom)</p>
          <p> <a href="#juan"><b>Juan Caballero</b></a> (Spruce)</p>
          <p> <a href="#kishore"><b>Kishore Bhatia</b></a> (Affinidi)</p>
          <p> <a href="#thomas"><b>Thomas Mueller</b></a> (Blockchains)</p>
          <p> <a href="#troy"><b>Troy Ronda</b></a> (SecureKey)</p>

          </div>
      </div>              
          </div>
      </div>
</section>

<section id="#cat" class="counter-section gray-bg">
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="section-title text-center">
            <h2 class="font-alt">Catherine Nabbala</h2>
            <h5 class="font-alt">Finema</h5>
            <!-- table start-->
            <table style="width:100%"  >
              <tr style="height: 45px;"/>
            </tr>
              <tr>
                <th></th>
                <th>      </th>
                <th> </th>
              </tr>
              <tr>
                <td class="bg-light" width="700">
                  <p>I’m pleased to accept the nomination to serve on the DIF steering committee!
                  A little bit about myself: I have been involved in various open source initiatives
                  throughout my adult life, and have been working within the identity space for the
                  last 20 years. I am the primary point of contact for my company’s participation in
                  the Decentralized Identity Foundation (DIF), the World Wide Web Consortium
                  (W3C), and the FIDO Alliance, while also participating in efforts within the IETF
                  and OpenID Foundation. I am prepared to commit to also work with the DIF
                  steering committee.</p>
                  <p>
                  In terms of technical opportunities for DIF, I consider perhaps the most significant
                  one to be the promotion of interoperability. It can be difficult for even those
                  involved in this space to track the technical specifications (and relevant
                  implementations) needed to support various end-to-end protocol scenarios. It
                  can also be challenging to know the various initiatives within different verticals to
                  define use cases, minimal supported technology and common schemas.
                  If elected onto the steering committee, I would push for us to continue the
                  excellent work by the interoperability group members in documenting
                  specifications and initiatives, as well as to further promote that work. The goal
                  would be that the DIF would become the definitive place for people to come and
                  understand the decentralized identity space.</p>
                  </td>
                <td>                </td>
                <td><img src="/images/photos/charles_cunningham.jpg" alt="charles" width="128" height="128"></td>
              </tr>
            </table>
            <!-- table ends-->
            <p></p>
          </div>
        </div>
    </div>
  </div>
  <!-- container -->
</section>

<section id="irene" class="counter-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="font-alt">Irene Hernandez</h2>
          <h5 class="font-alt">Gataca</h5>
          <!-- table start-->
            <table style="width:100%"  >
              <tr style="height: 45px;"/>
            </tr>
              <tr>
                <th></th>
                <th>      </th>
                <th> </th>
              </tr>
              <tr>
                <td class="bg-light" width="700">Defined by Forbes as one of the 21 leaders of change in 2021, Irene is an entrepreneur, researcher and business leader currently serving as CEO at GATACA, a cybersecurity company on a mission to give users back control over their personal data through Decentralized Digital Identity technology. In addition to being an expert in blockchain-based enterprise solutions, she is a professor of Blockchain Applications at OBS, and regularly speaks at international conferences.
                  Irene started GATACA after conducting extensive research on decentralized architectures for identity and energy financing systems while working at MIT’s Media Lab. Before MIT, Irene spent a decade advising U.S. and European Multinational Corporations on IT strategies and global product architecture.
                  She holds an MBA from MIT, a Master of Aeronautics from EOI, and a Master of Science in Telecommunications Engineering.
                  </td>
                <td>                </td>
                <td><img src="/images/photos/charles_cunningham.jpg" alt="charles" width="128" height="128"></td>
              </tr>
            </table>
            <!-- table ends-->
          </div>
        </div>
      </div>
    </div>
  </section>


<section id="monkeybusiness" class="counter-section gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="font-alt">Individual</h2>
          <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
          <!-- table start-->
          <table style="width:100%"  >
            <tr style="height: 45px;"/>
          </tr>
            <tr>
              <th></th>
              <th>      </th>
              <th> </th>
            </tr>
            <tr>
              <td class="bg-light" width="700">I’m pleased to accept the nomination to serve on the DIF steering committee!
                A little bit about myself: I have been involved in various open source initiatives
                throughout my adult life, and have been working within the identity space for the
                last 20 years. I am the primary point of contact for my company’s participation in
                the Decentralized Identity Foundation (DIF), the World Wide Web Consortium
                (W3C), and the FIDO Alliance, while also participating in efforts within the IETF
                and OpenID Foundation. I am prepared to commit to also work with the DIF
                steering committee.
                In terms of technical opportunities for DIF, I consider perhaps the most significant
                one to be the promotion of interoperability. It can be difficult for even those
                involved in this space to track the technical specifications (and relevant
                implementations) needed to support various end-to-end protocol scenarios. It
                can also be challenging to know the various initiatives within different verticals to
                define use cases, minimal supported technology and common schemas.
                If elected onto the steering committee, I would push for us to continue the
                excellent work by the interoperability group members in documenting
                specifications and initiatives, as well as to further promote that work. The goal
                would be that the DIF would become the definitive place for people to come and
                understand the decentralized identity space.
                </td>
              <td>                </td>
              <td><img src="/images/photos/charles_cunningham.jpg" alt="charles" width="128" height="128"></td>
            </tr>
          </table>
          <!-- table ends-->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
