{% set name = "About" %}
{% set logo = "login_screen" %}
{% set title = "Steering Committee" %}
{% set scope = "Enable a world where decentralized identity solutions allow entities to gain control over their identities and allow trusted interactions.
" %}
{% set Mission1 = "Provide a neutral and inclusive place for the decentralized identity community to collaborate.
" %}
{% set Mission2 = "DIF cultivates ideas & emerging specifications by enabling industry-wide discussions, experimentation (testing of hypothesis) and demonstration of interoperability.
" %}
{% set Mission3 = "DIF encourages a contribution led approach based on open source code contributions to developing an interoperable identity stack composed which can be used and adopted without restrictions.
" %}
{% set Mission4 = "DIF collaborates closely with standardization bodies to ensure more matured concepts or specifications can be formalized standards in the most suitable organizations.
" %}

{% set projects = {
    "DIF Charter": {
      desc: "This “Project Charter” establishes the terms under which this Project operates ",
      links: [
        {
          text: "Charter",
            href: "https://bit.ly/DIF_project_charter"
        }
      ]
    },
    "DIF Participation Matrix": {
      desc: "The list of benefits of DIF membership and other participation formats offered by the foundation",
      links: [
        {
          text: "Participation Matrix",
          href: "https://bit.ly/DIF_participation_matrix_2"
        }
      ]
    },
    "DIF Code of Conduct": {
      desc: "Creating an open, healthy and productive culture where members and the community can build and grow together. This is a living document, feel free to comment.",
      links: [
        {
          text: "Code of Conduct",
          href: "https://bit.ly/DIF_code_of_conduct"
        },
        {
          text: "GitHub - Code of Conduct",
          href: "https://github.com/decentralized-identity/org/blob/master/code-of-conduct.md"
        }
      ]
    }
  }
%}

{%
  set chairs = {
    "Kim H. Duffy": {
      title: "Digital Credentials @ MIT",
      linkedin: "kimdhamilton",
      twitter: "kimdhamilton"
    },
    "Karyl Fowler": {
      title: "CEO @ Transmute",
      linkedin: "karylfowler",
      twitter: "TheKaryl"
    },
    "Kendra Bittner": {
      title: "Sr Director @ Workday",
      linkedin: "kendrabittner",
      twitter: "kdkendratweet"
    },
    "Markus sabadello": {
      title: "Founder @ DanubeTech",
      linkedin: "markus-sabadello-353a0821",
      twitter: "peacekeeper"
    },
    "Dan Gisolfi": {
      title: "CTO Decentralized Identity @ IBM",
      linkedin: "vinomaster"
    },
    "Sam Curren": {
      title: "Technology Guy @ Sovrin",
      linkedin: "samcurren",
      twitter: "TelegramSam"
    },
    "Daniel Buchner": {
      title: "Decentralized Identity @ Microsoft",
      linkedin: "csuwildcat",
      twitter: "OliverTerbu"
    },
    "Rouven Heck": {
      title: "Head of Identity @ Consensys",
      linkedin: "rouvenheck",
      twitter: "rh7"
    }
  }
%}



{% extends "governance.html" %}
