{% extends "group_base.html.njk" %}
{% set ug_id = "didcomm" %}
{% set name = userGroups.activeUserGroups["didcomm"].name %}
{% set logo = userGroups.activeUserGroups["didcomm"].logo %}
{% set title = userGroups.activeUserGroups["didcomm"].title %}
{% set scope = userGroups.activeUserGroups["didcomm"].scope %}
{% set shortform = userGroups.activeUserGroups["didcomm"].shortform %}
{% set charters = userGroups.activeUserGroups["didcomm"].charters %}
{% set projects = userGroups.activeUserGroups["didcomm"].projects %}
{% set chairs = userGroups.activeUserGroups["didcomm"].chairs %}
{% set type = userGroups.activeUserGroups["didcomm"].type %}
{% set meetingSchedule = userGroups.activeUserGroups["didcomm"].meetingSchedule %}
{% set repoTag = userGroups.activeUserGroups["didcomm"].repoTag %}