{% extends "default.html.njk" %}
{% from "partials/group-card.html.njk" import groupCard %}
{% set title = "User Groups" %}
{% set css = ['directory', 'group-cards'] %}

{% block content %}
<section class="page-title theme-bg">
  <div class="container">
    <h1>User Groups</h1>
    <p class="lead text-white mb-0">Our User Groups focus on open source, reference implementations, and developer / implementor communities.</p>
  </div>
</section>

<section class="group-section">
  <div class="container">
    <div class="group-cards-grid">
      {% for id, group in userGroups.activeUserGroups %}
        {{ groupCard(group) }}
      {% endfor %}
    </div>

  </div>
</section>
{% endblock %} 
