{% extends "ug_base.html.njk" %}
{% set ug_id = "veramo" %}
{% set name = userGroups.activeUserGroups[ug_id].name %}
{% set logo = userGroups.activeUserGroups[ug_id].logo %}
{% set title = userGroups.activeUserGroups[ug_id].title %}
{% set scope = userGroups.activeUserGroups[ug_id].scope %}
{% set shortform = userGroups.activeUserGroups[ug_id].shortform %}
{% set charters = userGroups.activeUserGroups[ug_id].charters %}
{% set type = userGroups.activeUserGroups[ug_id].type %}
{% set chairs = userGroups.activeUserGroups[ug_id].chairs %}
{% set meeting = userGroups.activeUserGroups[ug_id].meeting %}