{% extends "group_base.html.njk" %}
{% set ug_id = "veramo" %}
{% set name = userGroups.activeUserGroups["veramo"].name %}
{% set logo = userGroups.activeUserGroups["veramo"].logo %}
{% set title = userGroups.activeUserGroups["veramo"].title %}
{% set scope = userGroups.activeUserGroups["veramo"].scope %}
{% set shortform = userGroups.activeUserGroups["veramo"].shortform %}
{% set charters = userGroups.activeUserGroups["veramo"].charters %}
{% set projects = userGroups.activeUserGroups["veramo"].projects %}
{% set chairs = userGroups.activeUserGroups["veramo"].chairs %}
{% set type = userGroups.activeUserGroups["veramo"].type %}
{% set meetingSchedule = userGroups.activeUserGroups["veramo"].meetingSchedule %}
{% set repoTag = userGroups.activeUserGroups["veramo"].repoTag %}
{% set discussionChannels = userGroups.activeUserGroups["veramo"].discussionChannels %}