{% extends "default.html.njk" %}
{% from "partials/group-card.html.njk" import groupCard %}
{% set title = "Work at DIF" %}
{% set css = ['directory', 'group-cards'] %}

{% block content %}
<section class="page-title theme-bg">
  <div class="container">
    <h1>Work at DIF</h1>
    <p class="lead text-white mb-0">Collaborative development of decentralized identity standards and solutions</p>
  </div>
</section>

<section>
  <div class="container">
    <div class="group-cards-grid">
      {# Working Groups Card #}
      <div class="group-card">
        <div class="icon-wrapper">
          <svg class="group-icon">
            <use xlink:href="/images/icons.svg#blueprint"></use>
          </svg>
        </div>
        <h3>Working Groups</h3>
        <p class="description">Technical standardization and development of decentralized identity solutions. Working Groups create specifications, protocols, and reference implementations.</p>
        <a href="/working-groups" class="learn-more-btn">View Working Groups</a>
      </div>

      {# Special Interest Groups Card #}
      <div class="group-card">
        <div class="icon-wrapper">
          <svg class="group-icon">
            <use xlink:href="/images/icons.svg#communicate_user"></use>
          </svg>
        </div>
        <h3>Special Interest Groups</h3>
        <p class="description">Industry and regional focused collaboration in decentralized identity. SIGs bring together professionals and organizations around specific domains or regions.</p>
        <a href="/special-interest-groups" class="learn-more-btn">View Special Interest Groups</a>
      </div>

      {# User Groups Card #}
      <div class="group-card">
        <div class="icon-wrapper">
          <svg class="group-icon">
            <use xlink:href="/images/icons.svg#users"></use>
          </svg>
        </div>
        <h3>User Groups</h3>
        <p class="description">Implementation and adoption focused communities. User Groups provide forums for developers and implementers to share knowledge and collaborate on practical solutions.</p>
        <a href="/user-groups" class="learn-more-btn">View User Groups</a>
      </div>
    </div>
  </div>
</section>
{% endblock %} 