
.item-list-center dd {
  font-size: 85%;
}

.item-list-left img {
  width: 10vw;
  max-width: 125px;
}

.item-list-left img[default-image] {
  padding: 0.2em 0;
}

#item_list li {
  flex-wrap: nowrap;
}