{% set name = "Education Resources" %}
{% set logo = "sketching" %}
{% set subtitle = "A curated list of educational resources" %}
{% set repoTag = "" %}

{% extends "default.html" %}

<!-- {% block svg %}

{% endblock %} -->

{% block content %}
<section class="page-title theme-bg">
  <div class="container">
    <svg><use xlink:href="#{{logo}}"></use></svg>
    <h1>{{name}}</h1>
    {% if subtitle %}
      <h3>{{subtitle}}</h3>
    {% else %}
      <h3>Decentralized Identity Foundation</h3>
    {% endif %}
  </div>
</section>

<section class="counter-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="section-title text-center">
          <h2 class="font-alt">Recent publications</h2>
          <p><i>All publications are in PDF format unless otherwise specified.</i></p>
          <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
          <br>
            <p><b>Glossary Report</b>, May 2020 <a href="https://identity.foundation/assets/glossary-group-report--may-2020.pdf">here</a></p>
            <p><b>Overview</b> of Public-Domain Educational Materials, April 2020 <a href="https://identity.foundation/assets/knowledge-base--april-2020.pdf">here</a> <i>(courtesy of TransMute and Spherity)</i> </p>
        </div>              
      </div>
    </div>
</section>

<section id="company" class="counter-section gray-bg">
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
          <div class="section-title text-center">
            <h2 class="font-alt">DIF's <img src="/icons/youtube.svg" alt="YouTube logo" height="60" width="60"> channel</h2>
            <p><a href="https://www.youtube.com/channel/UCicZIzvOXOyij0A6jlA7nxQ">DIF's YouTube</a></p>
          <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
          <br>
            <DIV class="section-title text-center">
              <p><b>DID Auth WG report-outs and demos from F2F</b>, June 2020 <a href="https://www.youtube.com/watch?v=P28adp1zARg">here</a></p>
              <p><b>Code of Conduct Update from F2F</b>, June 2020 <a href="https://identity.foundation/assets/knowledge-base--april-2020.pdf">here</a></p>
            </div>
          </div>
        </div>              
      </div>
    </div>
</section>

<!-- Blog Starts  -->

<section id="blog" class="section blog-section ">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="font-alt">DIF Blog </h2>
          <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
          <p>News about our work and insights from our members on their efforts to build the decentralized identity ecosystem.</p>
        </div>
      </div>
    </div>
    <div id="blog_posts" class="row">
      <div class="spinner"><span></span></div>
    </div>
  </div> <!-- container -->
</section>

<!-- Blog End -->


{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="/js/index.js"></script>
{% endblock %}
