{% set name = "Educational Resources" %}
{% set logo = "sketching" %} 

{% set title = "Educational Resources" %}
{% set scope = "Here you will find a regularly-updated and curated list of educational resources." %}

{% set projects = {
    "Recent additions to the DIF YouTube channel": {
      desc: "",
      links: [
        {
          text: "DIF YouTube",
          href: "https://www.youtube.com/channel/UCicZIzvOXOyij0A6jlA7nxQ"
        },
        {
          text: "DID Auth WG report-outs and demos from F2F, June 2020",
          href: "https://www.youtube.com/watch?v=P28adp1zARg"
        },
        {
          text: "Code of Conduct Update from F2F, June 2020",
          href: "https://www.youtube.com/watch?v=oZwKBMjzeV8"
        }
      ]
    },
    "Recent Education posts on our Medium Blog": {
      desc: "For a more complete index, see the education section on DIF's blog.",

      links: [
        {
          text: "DIF Blog",
          href: "https://medium.com/decentralized-identity"
        },
        {
          text: "Where to Begin with OIDC and SIOP",
          href: "https://medium.com/decentralized-identity/where-to-begin-with-oidc-and-siop-7dd186c89796?source=friends_link&sk=b14b99cda2da18350a5b0b4ba197bd56"
        },
        {
          text: "Finding the Bell Curve of Meaning (methodological from the first Glossary Report)",
          href: "https://medium.com/decentralized-identity/finding-the-bell-curve-of-meaning-61a1d22b7bdd?source=friends_link&sk=56a25248438bff6218d86a86c240cd82"
        }
      ]
    },
    "Recent Publications": {
      desc: "All publications are in PDF format unless otherwise specified.",

      links: [
        {
          text: "Glossary Report, May 2020",
          href: "/assets/glossary-group-report--may-2020.pdf"
        },
        {
          text: "Overview of Public-Domain Educational Materials, April 2020 (_courtesy of TransMute and Spherity_)",
          href: "/assets/knowledge-base--april-2020.pdf"
        }
      ]
    },
    "Other non-commercial educational links hosted elsewhere": {
      desc: "DIF provides these for educational purposes only, and few cases were DIF personnel involved in the editing or publication of these materials.",
      links: [
        {
          text: "Educational Resources at Decentralized-ID",
          href: "https://decentralized-id.com/literature/"
        }
      ]
    }

}
%}


{% set chairs = {
  "Kaliya Young": {
    title: "Education @ DIF",
    photo: "/images/photos/kaliya-young.jpg",
    linkedin: "kaliya",
    twitter: "identitywoman"
  },
  "Juan Caballero": {
    title: "Communications @ DIF",
    photo: "/images/photos/juan-caballero.jpg",
    linkedin: "juan-caballero",
    twitter: "by_caballero"
  }
}
%}

{% extends "wg.html" %}
