<div class="row justify-content-center">
  {% for key, val in people %}
    <div class="col-10 col-md-6 col-lg-4 m-15px-tb">
      <div class="our-team">
        <div class="img">
          <img src="{{ val.photo }}"/>
        </div>
        <div class="info">
          <h6>{{ key }}</h6>
          <label>{{ val.title }}</label>
        </div>
        <ul class="social-icons">
          {% if val.linkedin %}
            <li>
              <a class="linkedin" href="https://www.linkedin.com/in/{{ val.linkedin }}">
                <svg><use xlink:href="/images/icons.svg#linkedin"></use></svg>
              </a>
            </li>
          {% endif %}
          {% if val.twitter %}
            <li>
              <a class="twitter" href="https://twitter.com/{{ val.twitter }}">
                <svg><use xlink:href="/images/icons.svg#twitter"></use></svg>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div> 