{% set name = "Interop" %}
{% set logo = "interop" %}
{% set title = "Interoperability" %}
{% set scope = "Community collaboration and project management on Interoperability.
Develop and publish definitions of success with respect to business interoperability, at the highest level.
Defining points of protocol-defined touchpoints for maximum interchangeability of components at every layer; it is assumed that over time, that number will increase, not decrease.
Community collaboration and project management on interoperability goal to seek the greatest interoperability in the greater good, not to pick winners. 
Provide feedback, input documents, members, and guidance to working groups producing  standards, specifications, 
reference implementations and demonstrations hosted by community organizations including but not limited to IETF, W3C, W3C CCG, Hyperledger, Trust over IP." %}
{% set projects = { 
    "Draft phase": {
      desc: "The goal is to align most communities to co-create a WG focused on interoperability, as a meeting point and recommending project supporting and collaborating with all community efforts.",
      links: [
        {
          text: "Draft WG Scope ",
          href: "https://docs.google.com/document/d/1a01GQVtZB7tDVcm9avS8zuYPHQzEEDtTOEh4Bqu-8Bs/edit"
        }
      ]
    },
    "Mailing List": {
      links: [
        {
          text: "Sign up here",
          href: "https://dif.groups.io/g/interop-wg/"
        },
        {
          text: "WIKI Page in Notion",
          href: "https://www.notion.so/dif/Interoperability-WG-a42995c37e2a4511a10aea96cdbccc38"
        }
      ]
    }
  }
%}

{%
  set chairs = {
    "TBD ": {
      title: "X @ Company",
      photo: "/images/photos/_.jpg",
      linkedin: "tbd",
      twitter: "tbd"
    }
  }
%}


{% extends "wg.html" %}
