{% set name = "Interop" %}
{% set logo = "interop" %}
{% set title = "Interoperability" %}
{% set scope = "Community collaboration and project management on Interoperability.
Develop and publish definitions of success with respect to business interoperability, at the highest level.
Defining points of protocol-defined touchpoints for maximum interchangeability of components at every layer; it is assumed that over time, that number will increase, not decrease.
Community collaboration and project management on interoperability goal to seek the greatest interoperability in the greater good, not to pick winners. 
Provide feedback, input documents, members, and guidance to working groups producing  standards, specifications, 
reference implementations and demonstrations hosted by community organizations including but not limited to IETF, W3C, W3C CCG, Hyperledger, Trust over IP." %}
{% set charters = {
  "Interoperability documentation": {
    links: [
      {
        text: "Interop Charter",
        href: "https://docs.google.com/document/d/1a01GQVtZB7tDVcm9avS8zuYPHQzEEDtTOEh4Bqu-8Bs/edit"
      },
      {
        text: "Wiki Page",
        href: "https://www.notion.so/dif/Interoperability-WG-a42995c37e2a4511a10aea96cdbccc38"
      },
      {
        text: "Mailing list",
        href: "https://dif.groups.io/g/interop-wg/"
      }
    ]
  }
}
%}
{% set repoTag = "interop-wg" %}
{% set projects = { 
    "GitHub": {
      links: [
        {
          text: "Interoperability repo",
          href: "https://github.com/decentralized-identity/interoperability"
        }
      ]
    },
    "Meeting Minutes/Agenda": {
      links: [
        {
          text: "Interop Meeting minutes",
          href: "https://github.com/decentralized-identity/interoperability/blob/master/agenda.md"
        }
      ]
    }
  }
%}

{%
  set chairs = {
    "Kaliya Young ": {
      title: "Identitywoman",
      photo: "/images/photos/kaliya-young.jpg",
      linkedin: "kaliya",
      twitter: "IdentityWoman"
    }, 
    "David Waite ": {
      title: "Principal Architect @ Pingidentity",
      photo: "/images/photos/david_waite.jpg",
      linkedin: "davidwaite",
      twitter: "dwaite"
    },
    "Snorre Lothar von Gohren Edwin": {
      title: "CTO @ Diwala",
      photo: "photo: "/images/photos/snorre_lothar.png",
      linkedin: "vongohren",
      twitter: "vongohren"
    }
  }
%}


{% extends "wg.html" %}
