<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; URL=/special-interest-groups/interop.html">
    <link rel="canonical" href="/special-interest-groups/interop.html">
  </head>
  <body>
    <p>Redirecting to <a href="/special-interest-groups/interop.html">/special-interest-groups/interop.html</a>...</p>
  </body>
</html>