{% extends "default.html" %}

{% block content %}
  <section class="page-title theme-bg">
    <div class="container">
      <svg><use xlink:href="#{{logo}}"></use></svg>
      <h1>{{name}}</h1>
      {% if subtitle %}
        <h3>{{subtitle}}</h3>
      {% else %}
        <h3>Decentralized Identity Foundation</h3>
      {% endif %}
    </div>
  </section>

  <section class="counter-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="section-title text-center">
            <h2 class="font-alt">Why joining DIF</h2>
            <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
            <p>{{scope}}</p>
            </div>
        </div>              
            </div>
        </div>
  </section>

  <section class="counter-section gray-bg">
    <div class="container">
      <div class="row justify-content-md-center">

          <div class="col-6">
            <div class="section-title text-center">
              <h2 class="font-alt">Associate member</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>{{scope2}}</p>
            </div>
          </div>
          <div class="col-6">
            <div class="section-title text-center">
              <h2 class="font-alt">Contributor</h2>
              <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
              <p>{{scope3}}</p>
            </div>
          </div>
          <div class="col-6 m-30px-t margin-center">
            <div class="text-center">
            <dl>
              {% for key, val in projects %}
                <dt>{{key}}</dt>
                <dd>
                  <p>{{val.desc}}</p>
                  {% if val.links %}
                    {% for link in val.links %}
                      <a class="block-link icon-link" href="{{link.href}}">{{link.text}}</a>
                    {% endfor %}
                  {% endif %}
                </dd>
              {% endfor %}
            </dl>
          </div>
          </div>
          <div class="col-6 m-30px-t margin-center">
            <dl>
              {% for key, val in projects2 %}
                <dt>{{key}}</dt>
                <dd>
                  <p>{{val.desc}}</p>
                  {% if val.links %}
                    {% for link in val.links %}
                      <a class="block-link icon-link" href="{{link.href}}">{{link.text}}</a>
                    {% endfor %}
                  {% endif %}
                </dd>
              {% endfor %}
            </dl>
          </div>
        <!-- row -->
      </div>
    </div>
    <!-- container -->
  </section>

  <section class="counter-section">
    <div class="container">
      <div class="row justify-content-center m-45px-b md-m-20px-b sm-m-15px-b">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="section-title text-center">
            <h2 class="font-alt">Feedback Agreement</h2>
            <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
            <p>Text here</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
