<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; URL={{ redirect_url }}">
    <link rel="canonical" href="{{ redirect_url }}">
  </head>
  <body>
    <p>Redirecting to <a href="{{ redirect_url }}">{{ redirect_url }}</a>...</p>
  </body>
</html> 