{% set name = "DWN Community Node" %}
{% set logo = "box" %}
{% set subtitle = "Take control of your data with Decentralized Web Nodes" %}
{% set repoTag = "" %}

{% extends "default.html.njk" %}
<!-- {% block svg %}

{% endblock %} -->

{% block content %}
  <section class="page-title theme-bg">
    <div class="container">
      <svg>
        <use xlink:href="/images/icons.svg#{{ logo }}"></use>
      </svg>
      <h1>{{ name }}</h1>
      {% if subtitle %}
        <h3>{{ subtitle }}</h3>
      {% else %}
        <h3>Decentralized Identity Foundation</h3>
      {% endif %}
    </div>
  </section>
  <section class="counter-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="section-title text-center">

          <img src="/images/dwn_community_node.png" alt="DWN Community Node Splash Image">

           <!-- <div class="title-border">
              <span class="lg"></span>
              <span class="md"></span>
              <span class="sm"></span>
            </div>-->
        </div>
      </div>
    </div>
  </section>
  <section class="counter-section gray-bg">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="section-title text-center">
            <h2 class="font-alt">about</h2>
            <p>
              <h4 class="font-alt">What is a Decentralized Web Node?</h4>
            </p>
            <p>A Decentralized Web Node (DWN) is a secure storage and a communication hub that you can use to manage your personal, public, and application data. DWNs enable completely new application architectures, in which your data is yours by design.</p>

            <p>DWNs conform to DIF's <a href="https://identity.foundation/decentralized-web-node/spec/">DWN specification</a>.</p>
            
            <div class="title-border">
              <span class="lg"></span>
              <span class="md"></span>
              <span class="sm"></span>
            </div>

            <p>
              <h4 class="font-alt">What is the Community Node?</h4>
            </p>  
            <p>
              Powered by Google Cloud and TBD, and operated by the Decentralized Identity Foundation, the Decentralized Web Node "Community" version makes it simple to get started with next-generation web infrastructure. It's designed to enable easy integration of DWNs for non-production use, encouraging exploration and development.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="counter-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="section-title text-center">

            <br>
            <h2 class="font-alt">Get Started</h2>
            <p>
              <h4 class="font-alt">Developer Docs</h4>
              <p>To get started, <a href="https://github.com/decentralized-identity/dwn-user-guide">see our developer documentation</a>.</p>
            </p>
            <div class="title-border">
              <span class="lg"></span>
              <span class="md"></span>
              <span class="sm"></span>
            </div>
            <p>
              <h4 class="font-alt">Recommended Use</h4>

              <p>The DWN Community Node service provides a platform for testing and development purposes, and is not intended for production environments. </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="counter-section gray-bg">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="section-title text-center">


            <h2 class="font-alt">Learn More</h2>
            <div class="row justify-content-md-center">
            <div class="col-7">
            <div class="section-title text-left">
            <ul>
              <li>Quick start: <a href="https://github.com/decentralized-identity/dwn-user-guide">https://github.com/decentralized-identity/dwn-user-guide</a></li>
              <li>Chat & support (sponsored by TBD): <a href="https://discord.gg/tbd"> https://discord.gg/tbd</a></li>
              <li>Participate in the DWN specification at DIF: <a  href="https://identity.foundation/join">https://identity.foundation/join</a></li>
            </ul>
            </div></div></div>
              
            
          </div>
        </div>
      </div>
    </div>
  </section>  


{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="/js/education.js"></script>
{% endblock %}