{% set name = "Glossary" %}
{% set logo = "login_screen" %}
{% set title = "Glossary Project" %}
{% set scope = "The goal of this project is to facilitate the emergence of contextualized vocabulary that is widely accepted across the decentralized identity community/industry.
 Together we will be working across the whole range of projects and efforts to understand what language is currently being used and to invite understanding and support convergence 
 on some core definitions. We will do this in an open and transparent manner that is as inclusive as possible. We are not (re)creating a comprehensive taxonomy but rather are 
 focusing on a few key terms that are especially critical for wider adoption." %}
{% set repoTag = "" %}

{% set projects = {
    "Glossary Project Phase 1 results": {
      desc: "short description for glossary phase 1",
      links: [
        {
          text: "Results ",
          href: "https://github.com/decentralized-identity/papers/blob/master/did-authn/siop/did-authn-siop-profile.md"
        }
      ]
    }
  }
%}

{%
  set chairs = {
    "Kaliya Joung": {
      title: "x @ x ",
      photo: "/images/photos/kaliya-young.jpg",
      linkedin: "kaliya",
      twitter: "IdentityWoman"
    },
    "Adrian Gropper": {
      title: "x  @ x",
      photo: "/images/photos/___.jpg",
      linkedin: "",
      twitter: ""
    }
  }
%}

{% extends "og.html" %}
